{% extends 'scan_n_pay/base_scan_n_pay.html' %}
{% load static %}
{% block title %}Scan Products{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
<div>
  <p class="h5">Scan products:</p>
  <div class="d-flex justify-content-between">
    <form method='GET'>
      <input type='text' name='q' value='{{ request.GET.q }}' placeholder="scan barcode">
      <input class="button" type='submit' value="Enter">
    </form>
    <a href="#" class="btn btn-sm btn-primary mb-3" role="button">Purchase</a>
  </div>
  <div>
    <p>Produts to Purchase:</p>
    <div>

    </div>

  </div>

  <div class="mt-5 mb-5">
    <button class="button btn-primary" id="submitBtn">Purchase!</button>
  </div>
  </p>
  <h5>How to test:</h5>
  <ul>
    <li>Test Card #: <span class="text-danger">4242 4242 4242 4242.</span></li>
    <li>Make sure the expiration date is in the future. </li>
    <li>Add any 3 numbers for the CVC and any 5 numbers for the postal code. </li>
    <li>Enter any email address and name.</li>
  </ul>
</div>
{% endblock %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payments/js/payments.js' %}"></script> 
<script>
  async function getItem(barcode) {
    try {
        const result = await fetch(`scan_n_pay/scan/people/${barcode}/`);
        const data = await result.json();
        console.log(data);
        console.log(`${id}: ${data.name}`);

        return data;
    } catch(error) {
        console.log(error);
    }
  }

  
  // Fetch post
  // (async () => {
  //   const rawResponse = await fetch('https://httpbin.org/post', {
  //     method: 'POST',
  //     headers: {
  //       'Accept': 'application/json',
  //       'Content-Type': 'application/json'
  //     },
  //     body: JSON.stringify({a: 1, b: 'Textual content'})
  //   });
  //   const content = await rawResponse.json();

  //   console.log(content);
  // })();
  async function postData() {
    const rawResponse = await fetch('https://httpbin.org/post', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({a: 1, b: 'Textual content'})
    });
    const content = await rawResponse.json();

    console.log(content);
  };

</script>
{% endblock %}