{% extends 'scan_n_pay/base_scan_n_pay.html' %}
{% load static %}
{% block title %}Scan Products{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'scan_n_pay/css/scan_n_pay.css' %}">
{% endblock %}
{% block content %}
<div>
  <p class="h5 mt-3">Scan products:</p>
  <div>
    <div class="d-flex justify-content-between mt-3">
      <form>
        <input type='text' id='barcode' value='' placeholder="barcode">
        <input class="button" type="button" id="btn_enter" value="Enter">
        <input class="button ml-5" type="button" id="btn_lookup" value="Search Products">
      </form>
      <a href="#" id="pay_submit" class="btn btn-sm btn-primary" role="button">Purchase</a>
    </div>
    <div id='warning_msg' class='invisible text-danger'>warnings:</div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="mb-5 mt-3">
      <p class="h5">Produts to purchase:</p>
      <div id="ItemsContainer" class="items-container">
        <table>
          <thead>
            <tr class="bg-primary">
              <th class="item-name">Product Name</th>
              <th class="item-quantity">Quantity</th>
              <th class="text-center item-price">Price</th>
            </tr>
          </thead>
          <tbody id="items__list">
          </tbody>
          <tfoot>
            <tr id="total_price">
              <td class="item-name"><strong></strong></td>
              <td class="item-quantity"><strong>Total price:</strong></td>
              <td class="item-price total-price"><strong>0.00</strong></td>
            </tr>
          </tfoot>
        </table>      
      </div>
    </div>

    <div>
      <div>
        <input class="button" type="button" value="Supervisor Signin">
      </div>
      <div>
        Specail actions
      </div>
    </div>  
  </div>

  <div class='mt-5'>
    <hr>
    <div class="mt-1 mb-1">
      <button class="button btn-primary" id="submitPayment">Purchase!</button>
      <button class="button btn-primary" id="send_trans_data">Send Data!</button>
      <button class="button btn-primary" id="new_transaction">New Transaction</button>
    </div>
    </p>
    <h5>How to test:</h5>
    <ul>
      <li>Test Card #: <span class="text-danger">4242 4242 4242 4242.</span></li>
      <li>Make sure the expiration date is in the future. </li>
      <li>Add any 3 numbers for the CVC and any 5 numbers for the postal code. </li>
      <li>Enter any email address and name.</li>
    </ul>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'scan_n_pay/js/scan_n_pay.js' %}"></script>
<script src="{% static 'scan_n_pay/js/stripe_pay.js' %}"></script>
{% endblock %}