{% extends 'scan_n_pay/base_scan_n_pay.html' %}
{% load static %}
{% block title %}Scan Products{% endblock %}
{% block stylesheet %}
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
{% endblock %}
{% block content %}
<div>
  <p class="h5 mt-3">Scan products:</p>
  <div class="d-flex justify-content-between mt-3 mb-5">
    <form>
      <input type='text' id='barcode' value='' placeholder="barcode">
      <input class="button" type="button" id="btn_enter" value="Enter">
      <input class="button ml-5" type="button" id="btn_lookup" value="Search Products">
    </form>
    <a href="#" class="btn btn-sm btn-primary mb-3" role="button">Purchase</a>
  </div>
  <div class='mt-3 mb-5'>
    <p class="h5">Produts to purchase:</p>
    <div id='ItemsContainer'>
      <table>
        <thead>
            <tr class="bg-primary">
                <th>Product Name</th>
                <th>Quantity</th>
                <th class='text-center'>Price</th>
            </tr>
        </thead>
        <tbody id="items__list">
        </tbody>
        <tfoot>
            <tr id="total_price">
                <td><strong></strong></td>
                <td><strong>Total:</strong></td>
                <td class='text-right'><strong>0.00</strong></td>
            </tr>
        </tfoot>
      </table>      
    </div>

  </div>

  <div class='mt-5'>
    <hr>
    <div class="mt-1 mb-1">
      <button class="button btn-primary" id="submitBtn">Purchase!</button>
      <button class="button btn-primary" id="send_trans_data">Send Data!</button>
      <button class="button btn-primary" id="new_transaction">New Transaction</button>
    </div>
    </p>
    <h5>How to test:</h5>
    <ul>
      <li>Test Card #: <span class="text-danger">4242 4242 4242 4242.</span></li>
      <li>Make sure the expiration date is in the future. </li>
      <li>Add any 3 numbers for the CVC and any 5 numbers for the postal code. </li>
      <li>Enter any email address and name.</li>
    </ul>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payments/js/payments.js' %}"></script> 
<script src="{% static 'scan_n_pay/js/scan_n_pay.js' %}"></script>
{% endblock %}