body {
  background-image: url(../img/whitey.png);
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#sidebar {
  min-width: 150px;
  max-width: 150px;
  min-height: 100vh;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}
#sidebar .sidebar-header {
  padding: 10px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 10px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }

  #sidebar.active {
      margin-left: 0;
  }
}

.req-field {
	background-color: #fcfc93;
}

.input-sm-field {
  width: 20%;
}

table.gen-list-view tr:last-child {
	border-bottom: 1px solid grey;
}
