{% load i18n %}
<nav class="nav flex-column">
    <a class="nav-link h3" href="{% url 'shop:shop_home' %}">Home</a>
    <div class="border-top my-1"></div>
    {% if categories %}
      <div class='ml-1 text-info'>{% translate "CATEGORIES" %}:</div>
      {% for category in categories %}
      <a class="nav-link" href="{% url 'shop:product_by_category' category %}">{% translate category.display|title %}</a>
      {% endfor %}
      <div class="border-top my-1"></div>
    {% endif %}
    {% if user.is_authenticated %}
      <span class='ml-1 text-info'>USER: {{ user.get_username }}</span>
      <a class="nav-link" href="{% url 'shop:cart_view_items' %}">{% translate "View cart" %}</a>
      <a class="nav-link" href="{% url 'shop:view_orders' %}">{% translate "View orders" %}</a>
      <div class='border-top my-1'></div>
    {% endif %}
    {% if user.is_staff %}
      <div class='ml-1 text-info'>STAFF:</div>
      <a class="nav-link" href="{% url 'shop:shop_data_manager' %}">{% translate "Data Manager" %}</a>
      <div class="border-top my-1"></div>
    {% endif %}
    {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'accounts:logout' %}?next={{request.path}}">{% translate "Logout" %}</a>
    {% else %}
      <a class="nav-link" href="{% url 'accounts:login' %}?next={{request.path}}">{% translate "Login" %}</a>
    {% endif %}
</nav>
