<nav id="sidebar">
  <div class="sidebar-header"><h5>Show results for</h5></div>
  <ul class="list-unstyled components">
    <li><a href="{% url 'shop:shop_home' %}">All products</a></li>
    <li><div class="border-top my-3"></div></li>
    {% for category in categories %}
    <li><a href="{% url 'shop:product_by_category' category %}">{{ category.display|title }}</a></li>
    {% endfor %}
    <li><div class="border-top my-3"></div></li>
    {% if user.is_authenticated %}
      <li><span class='ml-1'>USER: {{ user.get_username }}</span></li>
      <li><a href="#">Future Use</a></li>
      <li><a href="{% url 'shop:view_orders' %}">View orders</a></li>   
      <li><a href="{% url 'accounts:logout' %}?next={{request.path}}">Logout</a></li>   
    {% else %}
      <li><a href="{% url 'accounts:login' %}?next={{request.path}}">Login</a></li>   
    {% endif %}         
    {% if user.is_staff %}
      <li><div class="border-top my-1"></div></li>
      <li><span class='ml-1'>STAFF:</span></li>
      <li><a href="#">Future Use</a></li>
    {% endif %}
    <li><div class="border-top my-3"></div></li>
    <li><a href="#">Contact us</a></li>
    <li><a href="{% url 'winter_univer' %}">About Winter</a></li>
  </ul>
</nav>
