{% for order in orders %}
<div class="d-flex mt-3">
  <div class="js-collapse-toggle" data-toggle="collapse" href="#collapse_order{{order.order_id}}">
    {% if forloop.first %}  
      <i class="fa fa-plus-circle mr-1" style="font-size:12px;color:gray"></i>
    {% else %}
      <i class="fa fa-minus-circle mr-1" style="font-size:12px;color:gray"></i>
    {% endif %}   
  </div>
  <div>
    <div class="text-primary js-view-order" orderid="{{ order.order_id }}"> {{ order }}</div>
  </div>
</div>
<div class="collapse js-collapse-orders ml-3" id="collapse_order{{order.order_id}}">
  <div class='order-header'>
    <div class='header-block'><span>Product</span></div>
    <div class='header-block'><span>Description</span></div>
    <div class='header-block'><span>Price</span></div>
    <div class='header-block'><span>Quantity</span></div>
    <div class='header-block'><span>Subtotal</span></div>
    <div class='header-block'><span>Remark</span></div>
  </div>
  <div class='order-items'>
    {% for item in order.order_items.all %}
      <div class='order-item'>
        <div class='image-container_sm'><img src="{{ item.product.product_img_url }}" alt='item1' /></div>
        <div class='name'>{{ item.product.display }}</div>
        <div class='price'>${{ item.product.price }}</div>
        <div class='quantity'>
          <span class='value'>{{ item.quantity }}</span>
        </div>
        <div class='subtotal'>${{ item.price|floatformat:2  }}</div>
      </div>
    {% empty %}
      <div>**no orders.**</div>
    {% endfor %}
  </div>  
</div>
{% empty %}
<p>You haven't ordered anything yet.</p>
{% endfor %}

<script>
$(function() {
  //set up the event istener
  $(".js-collapse-toggle").click(function() {
      $(this).find('i').toggleClass('fa-minus-circle fa-plus-circle');
  });
  
  // default to expand the latest order items
  $(".js-collapse-orders").first().collapse();

})

</script>
