<form method="post" action="{% url 'itrac:project_delete' project.id %}" class="js-project-delete-form">
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title">Confirm project deletion</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="lead">Are you sure you want to delete the project <strong>{{ project.title }}</strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger">Delete project</button>
    </div>
  </form>
