{% load humanize %}
{% for project in projects %}
  <tr>
    <td><a href="{% url 'itrac:set_current_project' project.id %}">{{ project.title }}</a></td>
    <td>{{ project.code }}</td>
    <td>{{ project.description }}</td>
    <td>{{ project.category|default_if_none:"-" }}</td>
    <td>{{ project.URL|default_if_none:"-" }}</td>
    <td>{{ project.get_issues_count }}</td>
    <td>{{ project.get_issues_count_unresolved }}</td>
    <td title="{{ project.created_date }}">{{ project.created_date|naturaltime }}</td>
    <td>{{ project.created_by }}</td>
    <td title="{{ project.updated_date }}">{{ project.updated_date|naturaltime }}</td>
    <td>{{ project.updated_by }}</td>
    {% if user.is_superuser %}
    <td>
      <button type="button"
              class="btn btn-warning btn-sm js-edit-project"
              data-url="{% url 'itrac:project_edit' project.id %}"
              title="Click to edit the project.">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-project"
              data-url="{% url 'itrac:project_delete' project.id %}"
              title="Click to delete the project.">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </td>
    {% endif %}
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No project</td>
  </tr>
{% endfor %}
