{% extends 'base_top_itrac.html' %}
{% load static %}
{% block title %}Winter Winn - iTrac{% endblock %}
{% block stylesheet %}
    <link rel="icon" href="{% static 'itrac/img/favicon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'itrac/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'itrac/css/simplemde.min.css' %}">
    <link rel="stylesheet" href="{% static 'itrac/css/itrac.css' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'itrac/js/jquery-ui.js' %}"></script>
    <script src="{% static 'itrac/js/simplemde.min.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>   
    {% block head_js %}
    {% endblock head_js %}
{% endblock %}
{% block topnav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="appsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i> Apps
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="appsMenu">
        <a class="dropdown-item" href="{% url 'itrac:my_in_progress_issues' %}"><i class="fas fa-clipboard-check"></i> Issue Tracker</a>
        <a class="dropdown-item" href="{% url 'boards:boards_home' %}"><i class="fas fa-clipboard-list"></i> Boards</a>
        <a class="dropdown-item" href="{% url 'posts:all_posts' %}"><i class="fa fa-camera" aria-hidden="true"></i> Insta Posts</a>
        <a class="dropdown-item" href="{% url 'catalog:index' %}"><i class="fas fa-book-reader"></i> Mini Library</a>
        <a class="dropdown-item" href="{% url 'polls:question' %}"><i class='fas fa-poll-h'></i> Polls</a>
        <a class="dropdown-item" href="{% url 'scan_n_pay:scan_n_pay' %}">
          <img src="https://img.icons8.com/wired/64/000000/barcode-scanner-2.png" width=16 height=16> Scan & Pay
        </a>
      </div>
    </li>
  </ul>
  <a class="navbar-brand" href="{% url 'itrac:my_in_progress_issues' %}">
    <img src="{% static 'img/winter-logo-sm-blue.png' %}" class="d-inline-block align-middle winter-sm-logo" alt="">
    Issue Tracker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="projectsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-project-diagram"></i> Projects
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="projectsMenu">
        <div class="text-muted ml-1"><small>CURRENT PROJECT:</small></div>
        <a class="dropdown-item" href="{% url 'itrac:filtered_issues_open' %}">{{ request.session.current_project.title }}</a>
        <div class="dropdown-divider"></div>
        <div class="text-muted ml-1"><small>RECENT PROJECTS:</small></div>
        {% for project in request.session.recent_projects %}
        <a class="dropdown-item" href="{% url 'itrac:set_current_project' project.id %}">
          {{ project.title }}
        </a>
        {% empty %}
          No recent projects
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'itrac:project_list' %}"><i class="fas fa-layer-group"></i> View all projects</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'itrac:tag_list' %}"><i class="fas fa-tags"></i> View all tags</a>          
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="issuesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-list-alt"></i> Issues
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="issuesMenu">
        <a class="dropdown-item" href="{% url 'itrac:my_in_progress_issues' %}"><i class="fa fa-list" aria-hidden="true"></i> My in progress issues</a>
        <a class="dropdown-item" href="{% url 'itrac:issues_reported_by_me' %}"><i class="fa fa-list-alt" aria-hidden="true"></i> Reported by me</a>
        <a class="dropdown-item" href="{% url 'itrac:my_saved_issues' %}"><i class="fa fa-star" aria-hidden="true"></i> My favorite Issues</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'itrac:search' %}"><i class="fa fa-filter" aria-hidden="true"></i> Search/filter issues</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'itrac:filtered_issues_open' %}"><i class="far fa-folder-open"></i> All open issues</a>
        <a class="dropdown-item" href="{% url 'itrac:filtered_issues_all' %}"><i class="far fa-list-alt"></i> All issues</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dashboardMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-chart-bar" aria-hidden="true"></i> Dashboard
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dashboardMenu">
        <a class="dropdown-item" href="{% url 'itrac:rpt_resolved_by_days' %}">Resolved by Days</a>
        <a class="dropdown-item" href="{% url 'itrac:rpt_issues_by_type' %}">Issues by Type</a>
        <a class="dropdown-item" href="{% url 'itrac:rpt_issues_by_status' %}">Issues by Status</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-sm btn-outline-secondary" href="{% url 'itrac:new_issue' %}">
        <i class="fa fa-plus" aria-hidden="true"></i> New Issue
      </a>
    </li>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  <div style="border: 2px solid gray; padding:6px;">
    <i class="fas fa-project-diagram"></i> Current:  
    <a class="" href="{% url 'itrac:filtered_issues_open' %}">{{ request.session.current_project.title }}</a>
  </div>
  <div class="collapse navbar-collapse" id="mainMenu">
    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class='h5 text-white'>{{ user.username }} <i class="fa fa-user" aria-hidden="true"></i></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
          <a class="dropdown-item" href="{% url 'accounts:my_account' %}">My account</a>
          <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>
          <div class="dropdown-divider"></div>
          {% if user.is_staff %}
          <a class="dropdown-item" href="/admin/">Manage site</a>
          <div class="dropdown-divider"></div>
          {% endif %}
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Cart(<span id="cart-icon">0</span>)</a>
      </li>    
    </ul>
    {% else %}
    <form class="form-inline ml-auto">
      <a href="{% url 'accounts:login' %}" class="btn btn-primary ml-2 text-white">Log in</a>
      <a href="{% url 'accounts:signup' %}" class="btn btn-primary ml-2 text-white">Sign up</a>
    </form>
    {% endif %}
  </div>
</nav>
{% endblock %}
{% block announcement %}
<!--
<div id="announcement-banner" class="alert alert-info alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<div class="ml-3"> 
    If you have any questions related to Issue Tracker, please submit your request to the <b><a href="#" target="_blank"> Winn Service Portal</a></b>. 
    More announcement to come. 
	</div> 
</div>
-->
{% endblock %}

{% block content %}
<div class="container-fluid mt-1">
  {% block subcontent %}
  {% endblock %}
</div>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'itrac/js/itrac.js' %}"></script>
{% block subjavascript %}
{% endblock %}
{% endblock %}
