{% extends 'base_top_itrac.html' %}
{% load static %}
{% block title %}Winter Winn - iTrac{% endblock %}
{% block stylesheet %}
    <link rel="icon" href="{% static 'itrac/img/favicon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>  
    <link rel="stylesheet" href="{% static 'itrac/css/itrac.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>   
    {% block head_js %}
    {% endblock head_js %}
{% endblock %}
{% block topnav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="appsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i> Apps
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="appsMenu">
        <a class="dropdown-item" href="{% url 'boards:boards_home' %}">Boards</a>
        <a class="dropdown-item" href="{% url 'posts:all_posts' %}">Insta Posts</a>
        <a class="dropdown-item" href="{% url 'itrac:get_issues' %}">Issue Tracker</a>
        <a class="dropdown-item" href="{% url 'catalog:index' %}">Mini Library</a>
        <a class="dropdown-item" href="{% url 'polls:question' %}">Polls</a>
      </div>
    </li>
  </ul>
  <a class="navbar-brand" href="{% url 'itrac:get_issues' %}">
    <img src="{% static 'img/winter-logo-sm-blue.png' %}" class="d-inline-block align-middle winter-sm-logo" alt="">
    Issue Tracker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="issuesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-list-alt"></i> Issues
      </a>
      <div class="dropdown-menu dropdown-menu-left" aria-labelledby="issuesMenu">
        <a class="dropdown-item" href="{% url 'itrac:get_issues' %}"><i class="fa fa-list" aria-hidden="true"></i> All Issues</a>
        <a class="dropdown-item" href="{% url 'itrac:my_issues' %}"><i class="fa fa-list-alt" aria-hidden="true"></i> My Issues</a>
        <a class="dropdown-item" href="{% url 'itrac:saved_issues' %}"><i class="fa fa-star" aria-hidden="true"></i> Saved Issues</a>
        <a class="dropdown-item" href="{% url 'itrac:search' %}"><i class="fa fa-filter" aria-hidden="true"></i> Filter Issues</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'itrac:report' %}"><i class="fa fa-chart-bar" aria-hidden="true"></i> Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'itrac:new_issue' %}"><i class="fa fa-plus" aria-hidden="true"></i> Add New Issue</a>
    </li>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <form class="form-inline my-2 my-lg-0" action="{% url 'core:search' %}" method='GET'>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <div class="collapse navbar-collapse" id="mainMenu">
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class='h5 text-white'><i class="fa fa-user" aria-hidden="true"></i> {{ user.username }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="{% url 'accounts:my_account' %}">My account</a>
            <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>
            <div class="dropdown-divider"></div>
            {% if user.is_staff %}
            <a class="dropdown-item" href="/admin/">Manage site</a>
            <div class="dropdown-divider"></div>
            {% endif %}
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>
          </div>
        </li>
      </ul>
      {% else %}
      <form class="form-inline ml-auto">
        <a href="{% url 'accounts:login' %}" class="btn btn-primary ml-2 text-white">Log in</a>
        <a href="{% url 'accounts:signup' %}" class="btn btn-primary ml-2 text-white">Sign up</a>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Add New Issue</a></li>
<li class="breadcrumb-item">
  <a href="{% url 'itrac:new_issue' %}"><i class="fa fa-plus" aria-hidden="true"></i> Add New Issue</a>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
  {% block subcontent %}
  {% endblock %}
</div>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'itrac/js/script.js' %}"></script>
{% endblock %}