{% extends 'itrac/base_itrac.html'%}
{% block subcontent %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div >
  <div class="d-flex align-items-center">
    <div >There are <span class="badge badge-primary badge-pill">{{ issue_count_total }}</span> issues in total. </div>
    <form class="ml-3" action="{% url 'itrac:do_search' %}" method="get">
        <input type="search"  pattern="[^'\x22]+" name="q" placeholder="search" title="characters only">
        <button class="btn" type="submit">
          <i class="fa fa-search" title="Search"></i>
        </button>
    </form>
  </div>
  <div class="row mt-3 d-flex align-items-center" style="border: 2px solid lightgray; height: 8vh;">
    <div class="col-md-8">
      <div class="dropdown d-flex align-items-center">
        <span class="h3" id="issue-filter-title">{{ filter_name }}</span>
        {% if refresh_url %}
          <a class="badge badge-primary badge-pill ml-1" role="button" href="{{ refresh_url }}">
            {{ issue_count_filter }} issues <i class="fas fa-sync"></i>
          </a>
        {% else %}
          <span class="badge badge-primary badge-pill ml-1">{{ issue_count_filter }} issues</span>
        {% endif %}
        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          (switch filter) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a class="dropdown-item" href="{% url 'itrac:my_in_progress_issues' %}">My in Progress Issues</a></li>
          <li><a class="dropdown-item" href="{% url 'itrac:issues_reported_by_me' %}">Reported by me</a></li>
          <li><a class="dropdown-item" href="{% url 'itrac:my_saved_issues' %}">My Favorite Issues</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="{% url 'itrac:filtered_issues_open' %}">All Open Issues</a></li>
          <li><a class="dropdown-item" href="{% url 'itrac:filtered_issues_all' %}">All Issues</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="{% url 'itrac:issues_reported_by_me2' %}">Reported by me2(TEST)</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 text-right">
      <a class="btn btn-sm btn-outline-secondary" role="button" href="{% url 'itrac:search' %}">Advanced Filters</a>
    </div>
  </div>
  <div class="row panel_container" id="panel_container">
    <div class="search-results-panel" id="search-results-list" style="overflow-y:auto; overflow-x:hidden;">
      <ul class="list-group list-group-flush issue-list">
        {% for issue in issues %}
          <li  class="list-group-item js_issue_item">
            <a class="js_issue_item_title" data-url="{% url 'itrac:issue_detail_partial' issue.id %}">
              <span class="text-muted">{{ issue.coded_id }}:</span> {{ issue.title }}
            </a>
          </li>
        {% empty %}
          Not found.
        {% endfor %}
      </ul>
    </div>
    <div class="px-5 issue-details-panel" id="issue-details" style="border-left:1px solid lightgray; overflow-x:hidden; overflow-y:auto;">
      Click an issue on the left to view its details.
    </div>
  </div>
</div>
{% endblock %}
{% load static %}
{% block subjavascript %}
<script src="{% static 'itrac/js/issue.js' %}"></script>
<script>
$( function() {
  $("#search-results-list").resizable({
    handles: 'e',
    resize: function() {
      $("#issue-details").outerWidth($("#panel_container").innerWidth() - $("#search-results-list").outerWidth());
    }
  });
});
</script>
{% endblock %}
