{% extends 'itrac/base_itrac.html'%}
{% block subcontent %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div >
  <div class="d-flex align-items-center">
    <div >There are <span class="text-info">{{ issue_count_total }}</span> issues in total. </div>
    <form class="ml-3" action="{% url 'itrac:do_search' %}" method="get">
        <input type="text" name="q" placeholder="search">
        <button class="btn" type="submit">
          <i class="fa fa-search" title="Search"></i>
        </button>
    </form>
  </div>
  <div class="row mt-3 d-flex align-items-center" style="border: 2px solid lightgray; height: 8vh;">
    <div class="col-md-8">  
      <div class="dropdown d-flex align-items-center">
        <span class="h3" id="issue-filter-title">{{ filter_name }}</span>
        <span class="text-info ml-1"> [{{ issue_count_filter }} issues]</span>
        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          (switch filter) <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a class="dropdown-item" href="{% url 'itrac:issues_assigned_to_me' %}">My Open Issues</a></li>
          <li><a class="dropdown-item" href="{% url 'itrac:issues_reported_by_me' %}">Reported by me</a></li>
          <li><a class="dropdown-item" href="{% url 'itrac:issues_reported_by_me2' %}">Reported by me2</a></li>
          <li><a class="dropdown-item" href="#">All issues</a></li>
          <li><a class="dropdown-item" href="#">Open issues</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 text-right">
      <a href="#">View all issues and filters</a>
    </div>
  </div>
  <div class="row" style="border-bottom: 2px solid lightgrey;">
    <div class="search-results col-md-4" id="search-results-list" style="height:65vh; overflow:auto;">
      <ul class="list-group list-group-flush issue-list">
        {% for issue in issues %}
          <li  class="list-group-item js_issue_item">
            <a class="js_issue_item_title" data-url="{% url 'itrac:issue_detail_partial' issue.id %}">
              <span class="text-muted">{{ issue.issue_id }}:</span> {{ issue.title }}
            </a>
          </li>
        {% empty %}
          Not found.
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-8" id="issue-details" style="border-left:1px solid lightgray;height:65vh;overflow:auto;">
      Issue details go here.
    </div>
  </div>
</div>
{% endblock %}
{% load static %}
{% block subjavascript %}
  <script src="{% static 'itrac/js/issue.js' %}"></script>
{% endblock %}

