{% extends 'itrac/base_itrac.html'%}
{% block subcontent %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div>
  <div>
    <p>{{ issue_count }}</p>
    <form action="{% url 'itrac:do_search' %}" method="get">
        <input type="text" name="q">
        <button class="btn waves-effect waves-light" type="submit">Search</button>
    </form>
  </div>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  
  <ul class="list-group list-group-flush issue-list">
  {% for issue in issues %}
    <li  class="list-group-item ">
      <a href="#issue{{ forloop.counter }}" data-toggle="collapse">{{ issue.title }}</a>
      <div id="issue{{ forloop.counter }}" class="collapse">
          <a class="btn-floating btn-large" href="{% url 'itrac:issue_detail' issue.id %}"><i class="material-icons">navigate_next</i></a>
          <p><span><b>Created: </b>{{ issue.created_date }}</span></p>
          <p><span><b>Tag: </b>{{ issue.tag }}</span></p>
          <p><span><b>Upvotes: </b>{{ issue.upvotes }}</span></p>
          <p><span><b>Status: </b>{{ issue.status }}</span></p>
          <p><span><b>Type: </b>{{ issue.issue_type }}</span></p>
          <p><span><b>Logged by: </b>{{ issue.author }}</span></p>
          <p><span><b>Assigned to: </b>{{ issue.assignee }}</span></p>
      </div>
    </li>
  {% empty %}
    No issue has been created yet.
  {% endfor %}
  </ul>
  {% if issues.has_other_pages %}
  <ul class="pagination">
      {% if issues.has_previous %}
          <li><a href="?page={{ issues.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
          <li class="disabled"><i class="material-icons">chevron_left</i></li>
      {% endif %} 
      
      {% for i in issues.paginator.page_range %} 
          {% if issues.number == i %}
              <li class="active"><a>{{ i }}</a></li>
          {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %} 
      {% endfor %} 
      
      {% if issues.has_next %}
          <li><a href="?page={{ issues.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
          <li class="disabled"><i class="material-icons">chevron_right</i></li>
      {% endif %}
  </ul>
  {% endif %} 
</div>
{% endblock %}