{% extends "itrac/base_itrac.html" %}
{% load static %}
{% block head_js %}
{% endblock head_js %}
{% block subcontent %}
<div class="row justify-content-center">
  <div class="card w-50">
    <div class="card-body">
      <h1>Create Issue</h1>
      <form name="foo" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <button class="btn btn-sm btn-secondary" type="submit" name="action">
            Save Issue
          </button>
      </form>
    </div>
  </div>
</div>
<script>
  //https://github.com/sparksuite/simplemde-markdown-editor
  //var simplemde = new SimpleMDE();
  const simplemde = new SimpleMDE({ element: document.getElementById("id_description_edit") });
</script>

{% endblock %}
