{% extends 'itrac/base_itrac.html' %}
{% block subcontent %}
  <div class='card w-75 border'>
    <div class='card-body' id="issue-details">
      {% include 'includes/partial_issue_details.html' %}
    </div>
  </div>
</div>
{% endblock %}
{% load static %}
{% block subjavascript %}
<script>
$(function() {
    //set up the event istener
    $(".js-collapse-toggle").click(function () {
        console.log("toggle")
        $(this).find('i').toggleClass('fa-angle-down fa-angle-right');
    });

    // default to expand
    $(".js-collapse-details").collapse();

});
</script>
{% endblock %}
