{% extends "itrac/base_itrac.html" %}
{% load humanize %}

{% block subcontent %}
<div class="row ml-3">  
  <div class="col-md-2 m-3" style="border: 2px solid lightgray;">
    <form class="mt-3" method="get">
      {{ filter.form.as_p }}
      <div class="text-center">
        <button class="btn btn-sm btn-primary mb-3" type="submit">Filter</button>
      </div>
    </form>
  </div>
  <div class="col-md-8 ml-5" style="height:80vh; overflow:auto;">
    <h3>Found <span class="badge badge-primary badge-pill">{{ issue_count }}</span> issue{{ issue_count|pluralize }}:</h3>
    <ul>
    {% for issue in filter.qs %}
      <li>
        <div class="d-flex">
          <a class="btn" role="button" href="{% url 'itrac:issue_detail' issue.id %}">
            <span class="text-muted">{{ issue.issue_id }}:</span> {{ issue.title }}
          </a>
          <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#issue{{ forloop.counter }}Collapse" aria-expanded="false" aria-controls="collapseExample">
            (...)
          </button>
        </div>
        <div class="collapse" id="issue{{ forloop.counter }}Collapse">
            <p><span title="{{ issue.created_date }}"><b>Created: </b>{{ issue.created_date|naturaltime }}</span></p>
            <p><span><b>Status: </b>{{ issue.get_status_display }}</span></p>
            <p><span><b>Type: </b>{{ issue.get_issue_type_display }}</span></p>
            <p><span><b>Reporter: </b>{{ issue.author }}</span></p>
            <p><span><b>Assignee: </b>{{ issue.assignee }}</span></p>
            <p><span><b>Tag: </b>{{ issue.tag }}</span></p>
            <p><span><b>Upvotes: </b>{{ issue.upvotes }}</span></p>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
