<!DOCTYPE html>
<html>

<body>

    <div>
        <p>Test1</p>
        Barcode Input: <input type='text' id="barcode_input">
        Barcode Input2: <input type='text' id="barcode_input2">
        <div>test1.1</div>
        <div>test1.2
            <div>test1.2.1</div>
            <div>test1.2.2</div>
        </div>
    </div>
    <div>Test2</div>
    <div>Test3</div>

<script>
    var test_keycode = (function() {

        document.getElementById("barcode_input").addEventListener('keypress', function(e) {
            console.log(e.keyCode, e.which);
        })
        document.addEventListener('click', function(e) {
            console.log(e);
            console.log(e.target, e.target.parentNode);
        })

    })();

</script>

</body>

</html>
