.navbar {
  background-color: lightslategray;
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 /*  color: whitec; */
 /* padding: 8px 5px 8px 5px; */
  padding: 8px 0px 8px 0px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  margin-left: 30px;
}

.body-content {
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

body {
  background-image: url(../img/whitey.png);
  background-repeat:  no-repeat;
  background-size: cover;
  color: black;
  height: 100%;
}

li a {
  font-size: medium;
  color: black;
}

ul li a {
  text-decoration: none;
  margin: 10px, 10px;
}

div a {
  font-size: large;
  color: black;
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

/* for simplemde textarea size */
.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px;
}

/*
.CodeMirror-fullscreen.CodeMirror {
  max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none;
}
*/
