html,
body {
  height: 100%;
}

.navbar-brand {
  font-family: 'Peralta', cursive;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

blockquote {
  border-left: 5px solid rgba(0,0,0,.125);
  padding-left: 1.25rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push {
  height: 60px;
}
