html,*
body {
  height: 100%;
}
.winn-heading {
  background:transparent !important;
}

.navbar-brand {
  font-family: 'Peralta', cursive;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 0px 8px 0px;
    margin: 0px 0px 0px 0px;
}

.winter-logo {
  width: 64px; 
	height: 64px; 
}
.winter-logo:hover {
  width: 128px; 
  height: 128px;
  transition: 1s ease-in-out;
  transform: rotate(20deg);
}

.winter-logo2 {
  width: 64px; 
	height: 64px; 
}
.winter-logo2:hover {
  transition: 1s;
  transform: rotate(20deg);
}

.winter-sm-logo {
  width: 32px; 
  height: 32px; 
  transition: all 0.3s linear;
}
.winter-sm-logo:hover {
  transform: rotate(-20deg);
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}