{% load is_watcher %}
{% is_watcher user issue as watching %}
{% if issue.watchers.all.count > 0 %}
<a tabindex="0" class="badge badge-primary badge-pill ml-1" role="button"
    data-toggle="popover" data-trigger="focus"
    title="Current watchers:" data-content="{{ issue.get_watchers }}"
    data-placement="bottom">{{ issue.watchers.all.count }}
</a>
{% else %}
<button class="badge badge-primary badge-pill ml-1" disabled>{{ issue.watchers.all.count }}</button>
{% endif %}
{%if watching %}
<button class="btn btn-sm js_update_watcher"
    title="click to stop watching this issue"
    data-url="{% url 'itrac:issue_stop_watching' issue.id %}">Stop watching
</button>
{% else %}
<button class="btn btn-sm js_update_watcher"
    title="click to start watching this issue"
    data-url="{% url 'itrac:issue_start_watch' issue.id %}">Start watching
</button>
{% endif %}
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()

        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
    })
</script>
