{% extends "polls/base_polls.html" %}
{% block title %}About us{% endblock %}
{% load static %}
{% block breadcrumb %}About Us{% endblock %}

{% block content %}
<p>About page is coming soon...</p>

Hello, there: <br />
I am Winter. Nice to meet you! <br />
<div class='mt-3'>
    <img src="{% static 'img/ww_collage2.png' %}" alt="winter2">
</div>

</p>
<p><strong>Freya Holm&eacute;r</strong> is so good at this kind of stuff, click on the image to check it out</p>
<a href="https://twitter.com/FreyaHolmer/status/1200807790580768768?ref_src=twsrc%5Etfw" target="_blank">
  <img src="{% static 'polls/images/dot.gif' %}" width="350" style="border: 1px solid #ddd;">
</a>

{% endblock %}
