{% extends "polls/base_polls.html" %}
{% block title %}Contact us{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item">Send message</li>
{% endblock %}
{% block content %}
<div class='card w-75 borderless ml-5'>
    <div class='card-body'>
      <h3 class="card-title mb-5">Send a message to Winter (the webmaster):</h3>
      <form action="{% url 'polls:contact' %}" method="post">
          {% csrf_token %}
          {% for field in form %}
              <div class="fieldWrapper mt-3">
                  {{ field.errors }}
                  <strong>{{ field.label_tag }}</strong><br>
                  {{ field }}
              </div>
          {% endfor %}
          <input class='btn btn-outline-primary mt-3' type="submit" value="Send Message">
      </form>
    </div>
  </div>
{% endblock %}
