{% extends "base.html" %}

{% block title %}Winter Winn{% endblock %}

{% block breadcrumb %}Winter's Homepage{% endblock %}

{% block content %}
<div>
  <h4>Select an app to run:</h4>
  <ul>
      <li><a href="boards/">Boards</a></li>
      <li><a href="polls/">Polls</a></li>
      <li><a href="admin/">Admin site</a></li>
  </ul>
</div>
<div class="mt-5">
  <h4>View a sibling website:</h4>
  <!--
  <div class="list-group">
    <a href="winter_winnpy/" class="list-group-item list-group-item-action border-0">&bull; Winter WinnPy (React + Node + Firebase + OAuth)</a>
    <a href="winter_univer/" class="list-group-item list-group-item-action border-0">&bull; Winter's Website (Python + Flask)</a>
    <a href="face_recognition/" class="list-group-item list-group-item-action border-0">&bull; Smart Face Recognition (React + Node + PostgreSQL)</a>
  </div>
  -->
  <ul>
    <li><a href="winter_winnpy/">Winter WinnPy (React + Node + Firebase + OAuth)</a></li>
    <li><a href="winter_univer/">Winter's Website (Python + Flask)</a></li>
    <li><a href="face_recognition/">Smart Face Recognition (React + Node + PostgreSQL)</a></li>
  </ul>
</div>
{% endblock %}

