<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/polls.css' %}">
</head>

<body>
    <div class="navbar">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'polls:about' %}" class="navbar-item">About</a>
        <a href="{% url 'polls:contact' %}" class="navbar-item">Contact</a>
        <a href="{% url 'polls:email' %}" class="navbar-item">Email</a>
        <a href="{% url 'polls:upload_file' %}" class="navbar-item">Upload File</a>
        <a href="{% url 'polls:barcode_req' %}" class="navbar-item">Barcode</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
    </div>
    <div class='footer'>
        <hr/>
        <p>© Winter WinnPy 2019-2020<br>domain: {{ domain }}</p>
    </div>
</body>

</html>