{% extends "polls/base_polls.html" %}

{% block title %}Polls - Questions{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'polls:question' %}">Poll Questions</a></li>
{% endblock %}

{% block content %}
<div class='card w-100'>
  <div class='card-body'>
    {% if latest_question_list %}
      <h3 class="card-title">Click on a question to vote:</h3>
      <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.question_id %}">{{ question.question_text }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No polls are available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}