{% extends "polls/base_polls.html" %}

{% block title %}Polls - Questions{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'polls:question' %}">Poll Questions</a></li>
{% endblock %}

{% block content %}
<div class='card w-100'>
  <div class='card-body'>
    {% if latest_question_list %}
      <h3 class="card-title">Click on a question to vote:</h3>
      <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.question_id %}">{{ question.question_text }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No polls are available.</p>
      <br />
      <p>You can add a set of sample polls.</p>
      <form action="/polls/seed/" method="post">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Create Sample Polls</button>
      </form>
      <br />
      <p>You can design new polls using the Django administration interface.</p>
      <p><a href="/admin/" class="btn btn-primary btn-large">Django Administration &raquo;</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
