{% load static %}
{% load humanize %}
<div class="row">
  <img class="m-1 winter-logo2" src="{% static 'img/winter-logo-sm-white.png' %}">
  <div class="ml-1">
    <a href="#" id="project-code-val">WINN 1.0 -></a>
    <a href="{% url 'itrac:issue_detail' issue.id %}">{{ issue.issue_id }}</a>
    <div class="h3">{{ issue.title }}</div>
  </div>
</div>
<div>
  <button class="btn btn-sm btn-outline-info">Edit Issue</button>
  <button class="btn btn-sm btn-outline-info">New comment</button>
  <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button" id="dropdownStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Change Status to: <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownStatus">
    <li><a class="dropdown-item" href="#">Open</a></li>
    <li><a class="dropdown-item" href="#">Investigate</a></li>
    <li><a class="dropdown-item" href="#">Await approval</a></li>
    <li><a class="dropdown-item" href="#">Build in progress</a></li>
    <li><a class="dropdown-item" href="#">Validate in progress</a></li>
    <li><a class="dropdown-item" href="#">Complete</a></li>
    <li><a class="dropdown-item" href="#">Closed</a></li>
  </ul>
</div>
<div class="mt-3">  
  <a class="js-collapse-toggle" data-toggle="collapse" href="#collapse_details">
    <i class="fa fa-minus-circle"></i><span class="font-weight-bold">Details</span>
  </a>
  <div class="collapse js-collapse-details ml-3" id="collapse_details">
    <div class="row">
      <div class="col-md-2">Type:</div>
      <div class="col-md-4">{{ issue.get_issue_type_display }}</div>
      <div class="col-md-2">Status:</div>
      <div class="col-md-4">{{ issue.get_status_display }}</div>
      <div class="w-100"></div>

      <div class="col-md-2">Created:</div>
      <div class="col-md-4" title="{{ issue.created_date }}">{{ issue.created_date|naturaltime }}</div>
      <div class="col-md-2">Assigned to:</div>
      <div class="col-md-4">{{ issue.assignee }}</div>
      <div class="w-100"></div>

      <div class="col-md-2">Updated:</div>
      <div class="col-md-4" title="{{ issue.updated_date }}">{{ issue.updated_date|naturaltime }}</div>
      <div class="col-md-2">Reported by:</div>
      <div class="col-md-4">{{ issue.author }}</div>
      <div class="w-100"></div>

      <div class="col-md-2">Resolved:</div>
      <div class="col-md-4">{{ issue.is_resolved|yesno:"Yes,No" }}</div>
      <div class="col-md-2">Upvotes:</div>
      <div class="col-md-4">{{ issue.upvotes }}
          {% if issue.issue_type == "BUG" %}
            <a class="btn" href="{% url 'itrac:upvote' issue.id %}">[thumb_up]</a>
          {% endif %}
      </div>
      <div class="w-100"></div>
            
      <div class="col-md-2">Resolved Date:</div>
      <div class="col-md-4" title="{{ issue.resolved_date|default_if_none:'' }}">{{ issue.resolved_date|default_if_none:""|naturaltime }}</div>
      <div class="col-md-2"><a class="btn" href="{% url 'itrac:save_issue' issue.id %}">star</a></div>
      <div class="col-md-4">
          {% if user == issue.author or user.is_staff %}
          <a class="btn" href="{% url 'itrac:edit_issue' issue.id %}">edit</a>
          {% endif %}
      </div>
    </div>      
    <div class="d-flex align-items-baseline">
      <div><span class="font-weight-bold">Tags:</span></div>
      <div>
        <ul class="nav">
          {% for tag in issue.tags.all %}
            <li class="nav-item">
              <a class="nav-link" href="#">{{ tag.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mt-3">
  <a class="js-collapse-toggle" data-toggle="collapse" href="#collapse_description">
    <i class="fa fa-minus-circle"></i><span class="font-weight-bold">Description</span>
  </a>
  <div class="collapse js-collapse-details ml-3" id="collapse_description">
    <p class="p-1" style="border: 1px solid lightgray">{{ issue.description }}</p>
  </div>
</div>
<div>
  {% if issue.image %}
    <img class="materialboxed" src="{{ MEDIA_URL }}{{ issue.image }}" alt="Issue Image" style="width:100%;height:450px;">
  {% endif %}
</div>

  {% if issue.issue_type == "FEATURE" %}
  <h5>Purchase Feature Upvotes</h5>
  <form method="post" action="{% url 'add_to_cart' issue.id %}">
      {% csrf_token %}
      <div class="input-group">
          <input name='quantity' type="number" min="1" max="99" class="form-control" placeholder="Quantity">
          <button class="btn waves-effect waves-light" type="submit" name="action" onclick="M.toast({html: 'Added to Cart!'})">Add to Cart
              </button>
      </div>
  </form>
  {% endif %}

<div class="mt-3">
  <a class="js-collapse-toggle" data-toggle="collapse" href="#collapse_comments">
    <i class="fa fa-minus-circle"></i><span class="font-weight-bold">Comments</span>
  </a>
  <div class="collapse js-collapse-details ml-3" id="collapse_comments">
    <a class="btn btn-sm btn-outline-info" href="{% url 'itrac:new_comment' issue.id %}">Add New Comment</a>
    {% for comment in comments %}
    <div class="card-panel blue-grey lighten-4">
        <div class="row">
            <div class="col s12 m8">
                <p><b>User: </b>{{ comment.author }} <b>Created: </b>{{ comment.created_date }} <b>Updated: </b>{{ comment.updated_date }}</p>
                <p><h6><b>Comment: </b>{{ comment.comment }}</p></h6>
                <h4>Replies</h4>
                <a class="btn btn-sm btn-outline-info" href="{% url 'itrac:new_reply' issue.id comment.id %}">Add New Reply</a>
                {% for replies in comment_replies %}
                {% for reply in replies %}
                {% if reply.comment == comment %}
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12 m8">
                            <p><b>Created: </b>{{ reply.created_date }} <b>Updated: </b>{{ reply.updated_date }} <b>User: </b>{{ reply.author }}</p>
                            <p><b>Reply: </b>{{ reply.reply }}</p>
                        </div>
                        <div class="col s12 m4">
                            {% if user == reply.author or user.is_staff %}
                            <a class="btn-floating btn-small waves-effect waves-light blue" href="{% url 'edit_reply' issue.id comment.id reply.id %}">Edit Reply</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
            <div class="col s12 m4">
                {% if user == comment.author or user.is_staff %}
                <a class="btn btn-sm btn-outline-info" href="{% url 'itrac:edit_comment' issue.id comment.id %}">Edit Comment</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
    
