<style>
  /* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  } */
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
*/

  .dropdown-content li a {
    text-decoration: none;
    display: block;
  } 

  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  </style>
  
  <div class="dropdown">
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search users" id="myInput" onkeyup="filterFunction()">
      <ul style="width:400px; height:200px; overflow:scroll; list-style: none">
        <li><a href="#about">About</a></li>
        <li><a href="#base">Base</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#custom">Custom</a></li>
        <li><a href="#support">Support</a></li>
        <li><a href="#tools">Tools</a></li>
      </ul>
    </div>
  </div>
  
  <script>
  document.getElementById("myDropdown").classList.toggle("show");
  
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
  </script>
  