{% load humanize %}
{% for comment in comments %}
<li  class="list-group-item js_comment_item">
  <div class="d-flex">
    <div class="js-collapse-toggle" data-toggle="collapse" href="#collapse_comment{{comment.id}}">
        <i class="fa fa-minus-circle" style="font-size:12px;color:gray"></i>
    </div>
    <div>
        <strong>{{ comment.author }}</strong> 
        added a comment - <span title="{{comment.created_date}}">{{ comment.created_date|naturaltime }}</span> 
        {% if comment.updated_date != comment.created_date %} 
          <span title="{{comment.updated_date}}">(edited at {{ comment.updated_date|naturaltime }})</span> 
        {% endif %}
        {% if user == comment.author %}
        <button type="button" class="btn btn-sm js-update-comment" 
            data-url="{% url 'itrac:edit_comment' issue.id comment.id %}"
            title="Click to edit the comment."><i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#confirmDeleteComment"
            data-url="{% url 'itrac:delete_comment' issue.id comment.id %}"
            comment='"{{ comment.comment|truncatechars:60 }}"'><i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        {% endif %}
    </div>
  </div>
  <div class="collapse js-collapse-details ml-3" id="collapse_comment{{comment.id}}">
    <p>{{ comment.comment }}</p>
  </div>
</li>
{% endfor %}
