{% load static %}
<div class="row">
  <img class="m-1 winter-logo2" src="{% static 'img/winter-logo-sm-white.png' %}">
  <div class="ml-1">
    <a href="#" id="project-code-val">WINN 1.0 -></a>
    <a href="{% url 'itrac:issue_detail' issue.id %}">{{ issue.issue_id }}</a>
    <div class="h3">{{ issue.title }}</div>
  </div>
</div>
<div>  
  <a class="js-collapse-toggle" data-toggle="collapse" href="#collapse_details">
    <i class="fa fa-plus-circle"></i><span class="font-weight-bold">Details</span>
  </a>
  <div class="collapse js-collapse-details ml-3" id="collapse_details">
    <div class="row">
      <div class="col-md-2">Type:</div>
      <div class="col-md-4">{{ issue.issue_type }}</div>
      <div class="col-md-2">Status:</div>
      <div class="col-md-4">{{ issue.status }}</div>
      <div class="w-100"></div>

      <div class="col-md-2">Created:</div>
      <div class="col-md-4">{{ issue.created_date }}</div>
      <div class="col-md-2">Assigned to:</div>
      <div class="col-md-4">{{ issue.assignee }}</div>
      <div class="w-100"></div>

      <div class="col-md-2">Updated:</div>
      <div class="col-md-4">{{ issue.updated_date }}</div>
      <div class="col-md-2">Reported by:</div>
      <div class="col-md-4">{{ issue.author }}</div>
      <div class="w-100"></div>

      <div class="col-md-2">Resolved:</div>
      <div class="col-md-4">{{ issue.is_resolved|yesno:"Yes,No" }}</div>
      <div class="col-md-2">Upvotes:</div>
      <div class="col-md-4">{{ issue.upvotes }}
          {% if issue.issue_type == "BUG" %}
            <a class="btn" href="{% url 'itrac:upvote' issue.id %}">[thumb_up]</a>
          {% endif %}
      </div>
      <div class="w-100"></div>
            
      <div class="col-md-2">Resolved Date:</div>
      <div class="col-md-4">{{ issue.resolved_date }}</div>
      <div class="col-md-2"><a class="btn" href="{% url 'itrac:save_issue' issue.id %}">star</a></div>
      <div class="col-md-4">
          {% if user == issue.author or user.is_staff %}
          <a class="btn" href="{% url 'itrac:edit_issue' issue.id %}">edit</a>
          {% endif %}
      </div>
    </div>      
    <div class="d-flex align-items-baseline">
      <div><span class="font-weight-bold">Tags:</span></div>
      <div>
        <ul class="nav">
          {% for tag in issue.tags.all %}
            <li class="nav-item">
              <a class="nav-link" href="#">{{ tag.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div>
  <p><strong>Description</strong>: </p>
  <p class="ml-3 p-3" style="border: 1px solid lightgray">{{ issue.description }}</p>
</div>
   

  {% if issue.image %}
    <img class="materialboxed" src="{{ MEDIA_URL }}{{ issue.image }}" alt="Issue Image" style="width:100%;height:450px;">
  {% endif %}

  {% if issue.issue_type == "FEATURE" %}
  <h5>Purchase Feature Upvotes</h5>
  <form method="post" action="{% url 'add_to_cart' issue.id %}">
      {% csrf_token %}
      <div class="input-group">
          <input name='quantity' type="number" min="1" max="99" class="form-control" placeholder="Quantity">
          <button class="btn waves-effect waves-light" type="submit" name="action" onclick="M.toast({html: 'Added to Cart!'})">Add to Cart
              </button>
      </div>
  </form>
  {% endif %}
  
  <h3>Comments</h3>
  <a class="btn-floating btn waves-effect waves-light green" href="{% url 'itrac:new_comment' issue.id %}"><i class="material-icons left">add</i>Add New Comment</a>
  {% for comment in comments %}
  <div class="card-panel blue-grey lighten-4">
      <div class="row">
          <div class="col s12 m8">
              <p><b>User: </b>{{ comment.author }} <b>Created: </b>{{ comment.created_date }} <b>Updated: </b>{{ comment.updated_date }}</p>
              <p><h6><b>Comment: </b>{{ comment.comment }}</p></h6>
              <h4>Replies</h4>
              <a class="btn-floating btn-small waves-effect waves-light green" href="{% url 'itrac:new_reply' issue.id comment.id %}"><i class="material-icons left">add</i>Add New Reply</a>
              {% for replies in comment_replies %}
              {% for reply in replies %}
              {% if reply.comment == comment %}
              <div class="card-panel blue-grey lighten-3">
                  <div class="row">
                      <div class="col s12 m8">
                          <p><b>Created: </b>{{ reply.created_date }} <b>Updated: </b>{{ reply.updated_date }} <b>User: </b>{{ reply.author }}</p>
                          <p><b>Reply: </b>{{ reply.reply }}</p>
                      </div>
                      <div class="col s12 m4">
                          {% if user == reply.author or user.is_staff %}
                          <a class="btn-floating btn-small waves-effect waves-light blue" href="{% url 'edit_reply' issue.id comment.id reply.id %}"><i class="material-icons left">edit</i>Edit Reply</a>
                          {% endif %}
                      </div>
                  </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endfor %}
          </div>
          <div class="col s12 m4">
              {% if user == comment.author or user.is_staff %}
              <a class="btn-floating btn waves-effect waves-light blue" href="{% url 'itrac:edit_comment' issue.id comment.id %}"><i class="material-icons left">edit</i>Edit Comment</a>
              {% endif %}
          </div>
      </div>
  </div>
  {% endfor %}