.barcode_input {
    width: 25rem;
/*   height: 100px; */
    border: 1px solid;
    margin-left: 10px;
}

#config {
    overflow: auto;
    margin: 10px 0px 10px 0px;
}

.config {
    float: left;
    width: 200px;
    height: 100px;
    border: 1px solid;
    margin-left: 10px;
}
.config .title {
    font-weight: bold;
    text-align: center;
}
.config .barcode2D, #miscCanvas {
    display: none;
}

#submit {
    clear: both;
}

input[type="button"] {
    margin: 10px 5px 10px 0px;
}

input[type="radio"] {
    margin-right: 0;
  }

#barcodeTarget, #canvasTarget {
    margin-top: 20px;
}
