.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 /*   color: white; */
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

body {
    background-image: url(../img/whitey.png);
    background-repeat:  no-repeat;
    background-size: cover;
    color: black;
    height: 100%;
}

li a {
    font-size: medium;
    color: black;
}

ul li a {
    text-decoration: none;
    margin: 10px, 10px;
}

.sibling-site {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

div a {
    font-size: large;
    color: black;
}

.warning {
    color: red;
}

.footer {
    padding: 5pt;
    /* background-color: rgba(0, 150, 0, .8); */
    position: sticky;
    bottom: 0;
}