{% extends 'payments/base_payments.html' %}
{% load static %}
{% block title %}Payments by Stripe{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
<div>
  <div class="mt-5 mb-5">
    <button class="button btn-primary" id="submitBtn">Purchase!</button>
  </div>
  </p>
  <h5>How to test:</h5>
  <ul>
    <li>Test Card #: <span class="text-danger">4242 4242 4242 4242.</span></li>
    <li>Make sure the expiration date is in the future. </li>
    <li>Add any 3 numbers for the CVC and any 5 numbers for the postal code. </li>
    <li>Enter any email address and name.</li>
  </ul>
</div>
{% endblock %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payments/js/payments.js' %}"></script>
{% endblock %}
