{% for attachment in issue.attachments.all %}
<tr class="ml-1 js-attachment-item">
  <td><span class="text-muted"></span></td>
  <td class="px-3">
    <a href={{ attachment.attachment.url }} 
      class="text-primary" 
      title="Uploaded by {{attachment.uploaded_by }} on {{attachment.uploaded_at}}">
      {{ attachment.description }}
    </a>
  </td>
  <td>
    <button class="btn btn-sm js-attachment-delete" style="display:none;" 
        data-url="{% url 'itrac:issue_attachment_delete' issue.pk attachment.pk %}"
        title="Click to remove attachment">X
    </button>
  </td>    
</tr> 
{% endfor %}
<script>
$(function() {
  // Display removal button when hovering over
  $('.js-attachment-item').hover(function() {
      $(this).css("background-color", "lightblue")        
      $(this).find("button").css('display', 'inline')
    }, function() {
      $(this).css("background-color", "")        
      $(this).find("button").css('display', 'none') 
    }
  );

})
</script>
