{% extends "core/base_core.html" %}
{% block title %}Winter Winn{% endblock %}
{% block content %}
<div class="winn-heading jumbotron text-center">
  <h1 class="display-4 zone-we">Welcome</h1>
  <p class="lead text-muted">
    The following web apps are developed using the famous Django framework. 
    You are welcome to try them out. Winter, our webmaster, would love to hear your feedback.  
  </p>
  <p class="lead text-muted">If you would like to get in touch with 
    <a href="{% url 'winter_univer' %}" target="_blank">Winter</a>, please feel free to 
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'polls:contact' %}" role="button">compose a message</a> now.
  </p> 
  <hr class="mt-4">
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card bg-light mb-4 shadow-lg zone">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Winter Winn</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">Boards</h1>
        <p class="card-text">A friendly discussion board where you can freely create new topics and post messages.</p>
      </div>
      <div class="card-footer text-center">
        <a href="boards/" role="button" class="btn btn-lg btn-block btn-outline-primary">Check it out</a>
      </div>
    </div>
    <div class="card bg-light mb-4 shadow-lg zone">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Winter Winn</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">Insta Posts</h1>
        <p class="card-text">This basic Instagram clone shows how to implement file and image uploading with Django. </p>
      </div>
      <div class="card-footer text-center">
        <a href="posts/" role="button" class="btn btn-lg btn-block btn-outline-primary">Check it out</a>
      </div>
    </div>
    <div class="card bg-light mb-4 shadow-lg zone">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Winter Winn</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">Polls</h1>
        <p class="card-text">This mini app allows you to vote on popular poll questions and review the voting results.</p>
      </div>
      <div class="card-footer text-center">
        <a href="polls/" role="button" class="btn btn-lg btn-block btn-outline-primary">Get started</a>
      </div>
    </div>
    <div class="card bg-light mb-4 shadow-lg zone">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Winter Winn</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">Mini Library</h1>
        <p class="card-text">If you love reading books, this app will give you a special experience of a mini local library.</p>
      </div>
      <div class="card-footer text-center">
        <a href="catalog/" role="button" class="btn btn-lg btn-block btn-outline-primary">Check it out</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ml-1 justify-content-center">
    <div class="zone-ww">
      {% load static %}
      <img src="{% static 'img/ww_little2.jpg' %}" alt="winter2">
    </div>   
    <div class="col-lg-6 col-md-8 col-sm-10 ml-5">
      <h4 class='mt-5'>Other websites by Winter:</h4>
      <div class="list-group w-100 list-group-flush">
        <a class="list-group-item" href="{% url 'winter_winnpy' %}" target="_blank"><strong>Winter WinnPy</strong> (React + Node + Firebase + OAuth)</a>
        <a class="list-group-item" href="{% url 'winter_univer' %}" target="_blank"><strong>Winter's Website</strong> (Python + Flask)</a>
        <a class="list-group-item" href="{% url 'face_recognition' %}" target="_blank"><strong>Smart Face Recognition</strong> (React + Node + PostgreSQL)</a>
        <a class="list-group-item"></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
