{% extends "core/base_core.html" %}
{% block title %}Winter Winn{% endblock %}
{% block content %}
<div class="winn-heading jumbotron">
  <h1 class="display-4">Search Results</h1>
  <p class="lead text-muted">
    The following web apps are developed using the famous Django framework. 
    You are welcome to try them out. Winter, our webmaster, would love to hear your feedback.  
  </p>
  <p class="lead text-muted">If you would like to get in touch with 
    <a href="{% url 'winter_univer' %}" target="_blank">Winter</a>, please feel free to 
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'polls:contact' %}" role="button">compose a message</a> now.
  </p> 
  <p> The key words are: </p>
  {% if search %}
    {% for item in search %}
      {{ item }} <br>
    {% endfor %}
  {% else %}
    <em class="text-muted">no keywords</em>
  {% endif %}
  <hr class="mt-4">
</div>
{% endblock %}
