.robot-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	display: flex;
	justify-content: center;
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
	 background-color: #5f93e8;
}

.head {
	width: 200px;
	margin: 0 auto;
	height: 150px;
	border-radius: 200px 200px 0 0;
	margin-bottom: 10px;
}

.eyes {
	display: flex;
}

.eyes2 {
	display: flex;
	justify-content: flex-end;
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body {
	width: 300px;
	height: 150px;
	display: flex;
}

.left_arm, .right_arm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
}

.left_arm {
	margin-right: 10px;
	transition: all 1s;
}

.right_arm {
	margin-left: 10px;
	transition: all 1s;
}

.left_arm:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(20deg);
}

.right_arm:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.torso {
	width: 200px;
	height: 200px;
	border-radius: 0 0 50px 50px;
}

.lower_body {
	width: 200px;
	height: 200px;
	display: flex;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;

}

.left_leg, .right_leg {
	width: 40px;
	height: 120px;
	border-radius: 0 0 100px 100px;
}

.left_leg {
	margin-left: 45px;
	transition: all 1s;
}

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg {
	margin-left: 30px;
	transition: all 1s;
}

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.left_eye, .right_eye {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: white;
}

.left_eye {
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative;
	top: 100px;
	left: 40px;
}

.right_eye {
	position: relative;
	top: 100px;
	left: 120px;
}

.left_eye2, .right_eye2 {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: white;
}

.left_eye2 {
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative;
	top: 100px;
	right: 120px;
}

.right_eye2 {
	position: relative;
	top: 100px;
	right: 40px;
}

.glowing-dots {
	width: 100vw;
	height: 5vh;
	margin:0;
	padding:0;
	background:rgba(0,0,0,.9);
	border: 2px solid #f57c00;
  }

  .glowing-dots ul{
	display:inline-flex;
	left: calc(50% + 250px)
	/* align-content: space-between */
	transform:translate(-50%,-50%);
	margin:0;
	padding:0;

  }
  .glowing-dots ul li{
	list-style:none;
	width:40px;
	height:40px;
	background:#fff;
	border-radius:50%;
	animation:grow 1.6s ease-in-out infinite;
  }
	@keyframes grow
	{
	  0% , 40% , 100%
	  {
		transform:scale(0.2);
	  }
	  20%{
		transform:scale(1);

	  }
	}

	.glowing-dots ul li:nth-child(1){
	animation-delay:-1.4s;
	background:#ffff00;
	box-shadow:0 0 50px #ffff00;

  }
  .glowing-dots ul li:nth-child(2){
	animation-delay:-1.2s;
	background:#76ff03;
	box-shadow:0 0 50px #76ff03;

  }
  .glowing-dots ul li:nth-child(3){
	animation-delay:-1s;
	background:#f06292;
	box-shadow:0 0 50px #f06292;

  }
  .glowing-dots ul li:nth-child(4){
	animation-delay:-0.8s;
	background:#4fc3f7;
	box-shadow:0 0 50px #4fc3f7;

  }
  .glowing-dots ul li:nth-child(5){
	animation-delay:-0.6s;
	background:#ba68c8;
	box-shadow:0 0 50px #ba68c8;

  }
  .glowing-dots ul li:nth-child(6){
	animation-delay:-0.4s;
	background:#f57c00;
	box-shadow:0 0 50px #f57c00;

  }
  .glowing-dots ul li:nth-child(7){
	animation-delay:-0.2s;
	background:#673ab7;
	box-shadow:0 0 50px #673ab7;
  }
