body {
  background: url(../img/whitey.png) repeat 0 0;
  color: black;
  height: 100%;
}

/* Settings for Fixed table head */
.scan-container {
  width: 100%;
	padding: 10px 10px 10px 10px;  /* top, right, bottom, left */
	border-left:1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-right: 2px solid grey;
	border-bottom: 2px solid grey;
}
.purcahse-container {
  width: 80%;
}
.special-btn-container {
  width: 15%;
}

.items-container {
  width: 100%;
}

tbody {
  display: block;
  height: 300px;
  /*overflow-y: auto; */
  overflow-y: scroll;
}

thead, tbody tr, tfoot {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

thead, tfoot {
  width: calc( 100% - 1em );    /* scrollbar is average 1em/16px width, remove it from thead width */
}

/** common table settings **/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
th {
  background-color: lightskyblue;
}

tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.transaction-item {
  padding: 1px;
}
.item-delete-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.item-name {
  width: 40%;
}
.item-quantity {
  width: 10%;
  text-align: center;
}

.item-original-price {
  width: 18%;
  text-align: right;
}

.item-discount {
  width: 15%;
  text-align: right;
}

.item-price {
  width: auto;
  text-align: right;
}

.total-price {
  background-color: lightskyblue;
}
.modal_description {
  width: 50%;
}
.modal_quantity {
  width: 20%;
}
