table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #dddddd;
  }
