/* Settings for Fixed table head */
.items-container {
  width: 70%;
}

tbody {
  display: block;
  height: 300px;
  overflow-y: scroll;
}

thead, tbody tr, tfoot {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

thead, tfoot {
  width: calc( 100% - 1em );    /* scrollbar is average 1em/16px width, remove it from thead width */
}


/** common table settings **/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
th {
  background-color: lightskyblue;
}

tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.item-name {
  width: 55%;
}
.item-quantity {
  width: 20%;
  text-align: center;
}
.item-price {
  width: auto;
  text-align: right;
}

.total-price {
  background-color: lightskyblue;
}