{% load humanize %}

{% for tag in tags %}
  <tr class="tags-item-tag">
    <td><a href="{% url 'itrac:issues_with_tag' %}?tag={{ tag.title }}">{{ tag.title }}</a></td>
    <td>{{ tag.is_active|yesno:"Yes,No" }}</td>
    <td class="">{{ tag.get_issues_count }}</td>
    <td title="{{ tag.created_date }}">{{ tag.created_date|naturaltime }}</td>
    <td>{{ tag.created_by }}</td>
    <td title="{{ tag.updated_date }}">{{ tag.updated_date|naturaltime }}</td>
    <td>{{ tag.updated_by }}</td>
    {% if user.is_superuser or user == tag.created_by %}
    <td>
      <button type="button"
              class="btn btn-warning btn-sm js-edit-tag"
              data-url="{% url 'itrac:tag_edit' tag.id %}"
              title="Click to edit the tag.">
        <i class="fa fa-edit"></i>
      </button>
      {% if tag.get_issues_count <= 0 %}
      <button type="button"
              class="btn btn-danger btn-sm js-delete-tag"
              data-url="{% url 'itrac:tag_delete' tag.id %}"
              title="Click to delete the tag.">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
      {% endif %}
    </td>
    {% endif %}
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No tag</td>
  </tr>
{% endfor %}
