{% load static %}
<div class="d-flex mt-3" id="issue_tags">
  <div><span class="font-weight-bold mr-1">Tags: </span></div>
  <div class="d-flex">
    <div class="d-flex" id="issue_all_tags">
      {% include "includes/partial_issue_details_tags/partial_issue_details_tags_list.html" %} 
    </div>
    <button type="button" class="btn btn-sm js-issue-edit-tags" style="display:none" 
      data-url = "{% url 'itrac:edit_issue_tags' issue.id %}" title="Click to edit">
      <i class="fa fa-edit"></i>
    </button>
  </div>
</div>

<script>
$(function(){
  
  tag_editing = false;

  $('#issue_tags').hover(function() {
      if(!tag_editing) {
        $('.js-issue-edit-tags').css('display', 'inline')
      }
    }, function() {
      if(!tag_editing) {
        $('.js-issue-edit-tags').css('display', 'none') 
      }
    }
  );

  $('.js-issue-edit-tags').click(function() {
      const url = $(this).attr('data-url');

      tag_editing = true;

      fetch(url)
      .then(response => response.json())
      .then(data => {
        $("#issue_all_tags").html(data['html_tags_edit_list']);
        $('.issue-tag-input').focus();

        $('.js-issue-edit-tags').css('display', 'none');

        setupTagEditCancelListener();
        setupTagDeleteListener();
        setupIssueTagAddListener()
      })
  });

  function setupTagEditCancelListener() { 
    $('.btn-tag-edit-cancel').click(function(){
      const url = $(this).attr('data-url');

      tag_editing = false;

      fetch(url)
        .then(response => response.json())
        .then(data => {
          $("#issue_all_tags").html(data['html_issue_tags_list']);
        })
    });
  }

  function setupTagDeleteListener() {
    $('.js-tag-item-delete').click(function(){
      const url = $(this).attr('data-url');
      fetch(url)
        .then(response => response.json())
        .then(data => {
          if (data['status'] === 'S'){
            $('.js-issue-edit-tags').click();
          }
        })
     
    })
  }

  function setupIssueTagAddListener() {
    $('.js-issue-tag-add').click(function(){
      const url = $(this).attr('data-url');
      fetch(url)
        .then(response => response.json())
        .then(data => {
          if (data['status'] === 'S'){
            $('.js-issue-edit-tags').click();
          }
        })
     
    })
  }



})
</script>
