<style>
  #issue-tag-input:focus {outline: 3px solid #ddd;}
  .tags-item-tag button:hover {background-color: #ddd;}
  #netnew-tag-suggest:hover {background-color: #ddd;}
</style>
<div>
  <div class="p-1" style="border: 2px solid lightgray">
    {% for tag in issue.tags.all %}
      <span class="mr-2"><span class="issue-existing-tag">{{ tag.title }}</span> 
        <sup>
          <button class="badge badge-primary badge-pill js-tag-item-delete" 
            data-url="{% url 'itrac:issue_delete_tag' issue.pk tag.pk %}">X
          </button>
        </sup>
      </span>
    {% endfor %}
    <form action="#" autocomplete="off" onkeypress="return event.keyCode != 13;">
      <input class="issue-tag-input" id="issue-tag-input" type="text" placeholder="tag name" name="newtag" style="border: none">
    </form>
    <div>
      <div class="bg-secondary w-100 mt-1" id="tag-suggestions" style="display:none;">Suggestions:</div>
      <div id="netnew-tag-suggest"></div>
      <div style="max-height:150px; overflow-y:auto;">
          {% for tag in tags %}
            <div class="tags-item-tag" style="display:none;">
              <button class="btn btn-sm js-issue-tag-add" data-url="{% url 'itrac:issue_add_tag' issue.pk tag.pk %}">
                {{ tag.title }}
              </button>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button type="cancel" class="btn btn-sm btn-secondary btn-tag-edit-cancel m-1" 
        data-url="{% url 'itrac:partial_issue_tags_list' issue.id %}">Close
    </button>
  </div>
</div>
{% load static %}
<script src="{% static 'js/winn_utils.js' %}"></script>
<script>
  // Check if the tag is already in the issue's tag list
  function check_existing_issue_tag(tag_str){
      const issue_tags = document.getElementsByClassName("issue-existing-tag");
      for (let i = 0; i < issue_tags.length; i++) {
          let tag_item = issue_tags.item(i);
          let tag_title = tag_item.textContent || tag_item.innerText; 
          if (tag_title === tag_str) {
            return true;
          }
      }
      return false;
  };
      
  // Set up the filter for the list of tags 
  $("#issue-tag-input").on("keyup", () => {
      const input = document.getElementById("issue-tag-input");
      const filter = input.value.toUpperCase();
              
      let existing_tag = false;
      let existing_issue_tag = false;

      const tags = document.getElementsByClassName("tags-item-tag");
      if (filter.length < 1) {
        for (let i = 0; i < tags.length; i++) {
          tags.item(i).style.display = "none";
        }
        $('#tag-suggestions').hide();
      } else {
        for (let i = 0; i < tags.length; i++) {
          let tag_item = tags.item(i);
          let tag_title = tags.item(i).firstElementChild;

          // Remove leading and trailing spaces
          const txtValue = (tag_title.textContent || tag_title.innerText).trim();

          if (txtValue.toUpperCase().startsWith(filter)) {
            tag_item.style.display = "";
            existing_tag = true;
            $('#tag-suggestions').show();
          } else {
            tag_item.style.display = "none";
          }
        }
        existing_issue_tag = check_existing_issue_tag(input.value);
      }

      // if the tag is net new
      if (!existing_tag && !existing_issue_tag && filter.length >= 1) {
        const new_tag_suggest = `
                <button class="btn btn-sm js-issue-tag-add-net-new" 
                        new-tag="${input.value}" 
                        data-url="{% url 'itrac:issue_add_net_new_tag' issue.pk %}">
                    <strong>${input.value}</strong> (new tag)
                </button>`

        $('#netnew-tag-suggest').html(new_tag_suggest); 
        $('#tag-suggestions').hide();

        setupIssueAddNetNewTagListener();

      } else {
        $('#netnew-tag-suggest').html(''); 
      }
  })

  function setupIssueAddNetNewTagListener() {
    let csrftoken = getCookie('csrftoken');

    $('.js-issue-tag-add-net-new').click(function() {
      const url = $(this).attr('data-url');
      const new_tag = $(this).attr('new-tag');
      const tag_data = { new_tag: new_tag };
      fetch(url, {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(tag_data),
          headers: { "X-CSRFToken": csrftoken },
      })
      .then(response => response.json())
      .then(data => {
        if (data['status'] === 'S'){
          $('.js-issue-edit-tags').click();
        }
      })
     
    })
  }

</script>