.navbar {
  background-color: lightslategray;
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/*  color: white; */
  padding: 8px 5px 8px 5px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  margin-left: 30px;
}

li a {
  font-size: medium;
/*  color: black; */
}

ul li a {
  text-decoration: none;
  color: blue
  margin: 10px, 10px;
}

div a {
  font-size: large;
  color: black;
}

.logo {
  font-family: 'Peralta', cursive;
}

.breadcrumb-item a:hover {
  text-decoration: none;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}

/* for simplemde textarea size */
.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px;
}

/*
.CodeMirror-fullscreen.CodeMirror {
  max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none;
}
*/
.winter-sm-logo {
  width: 32px;
	height: 32px;
}
.winter-sm-logo:hover {
  transform: rotate(-20deg);
}

.issue_tag_title {
  background-color: rgba(9,30,66,0.08);
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
  padding: 1px 5px;
  margin: 0 3px 0 0;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
    background-color: #7386D5;
}

/* For left/right panels */
.panel_container {
  position:absolute;
  width: 100%;
  height:75%;
  border-bottom: 2px solid lightgrey;
}
.search-results-panel {
  top: 0;
  width: 25%;
  height: 100%;
  position: absolute;
  padding: 10px;
  left: 0;
  border-right: 6px solid lightgray;
}
.issue-details-panel {
  top: 0;
  width: 75%;
  height: 100%;
  position: absolute;
  padding: 10px;
  right: 0;
}

/* Used on search_issues.html - for top/bottom panels  */
.filter-panel-container {
  height:90vh;
  display:grid;
}
.filter-results-panel {
  top: 0;
  width: 99%;
  padding: 10px;
  overflow:auto;
  resize: vertical;
}

.filter-details-panel {
  bottom: 0;
  width: 99%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 6px solid lightgray;
}

/* CSS for tag.is_active radio buttons */
ul.choice-no-bullets {
  list-style: none;
  margin: 0;
  padding: 10px;
}
ul.choice-no-bullets li {
  display: inline-block;
  display: inline;
  margin-right: 10px;
}
