{% extends "kbase/base_kbase.html" %}
{% block title %}Winter Winn{% endblock %}
{% block content %}
<div class="winn-heading jumbotron">
  <h1 class="display-4">Winter Jumps</h1>
  <p class="lead text-muted">Winter jumped 10 times today. 10 times! I told her nicely that jumpig up and down that hard was not 
    good to her hind legs. She just looked up at me innocently and kept wiggling her tails. She didn't seem to care what I said.</p>
    <p class="lead">If you think you have got a silver tougue and would like to have a word 
      with that stubborn young lady <a href="{% url 'winter_univer' %}" target="_blank">Winter</a>, please feel free to 
      <a class="btn btn-outline-secondary btn-sm" href="{% url 'polls:contact' %}" role="button">compose a message</a> now.
    </p> 
</div>
{% endblock %}
