<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Winter Winn{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app_gen.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block body %}
      {% block topnav %}
      {% endblock %}
      <div>
        {% block announcement %}
        {% endblock %}
      </div>
      {% block content %}
      {% endblock %}
    {% endblock body %}
    {% block javascript %}
    {% endblock %}
  </body>
</html>
