{% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="appsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i> Apps
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="appsMenu">
          <a class="dropdown-item" href="{% url 'itrac:my_in_progress_issues' %}"><i class="fas fa-clipboard-check"></i> Issue Tracker</a>
          <a class="dropdown-item" href="{% url 'boards:boards_home' %}"><i class="fas fa-clipboard-list"></i> Boards</a>
          <a class="dropdown-item" href="{% url 'posts:all_posts' %}"><i class="fa fa-camera" aria-hidden="true"></i> Insta Posts</a>
          <a class="dropdown-item" href="{% url 'catalog:index' %}"><i class="fas fa-book-reader"></i> Mini Library</a>
          <a class="dropdown-item" href="{% url 'polls:question' %}"><i class='fas fa-poll-h'></i> Polls</a>
          <a class="dropdown-item" href="{% url 'scan_n_pay:scan_n_pay' %}">
            <img src="https://img.icons8.com/wired/64/000000/barcode-scanner-2.png" width=16 height=16> Scan & Pay
          </a>
      </div>
      </li>
    </ul>
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/winter-logo-sm-blue.png' %}" class="d-inline-block align-top winter-sm-logo" alt="">
      Winter Winn
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" 
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#WinnMenu" 
                aria-controls="WinnMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0" action="{% url 'core:search' %}" method='GET'>
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" size="10">
      <button class="btn btn-outline-success my-sm-0 text-white" type="submit">
        <i class="fa fa-search" data-toggle="tooltip" title="Search"></i>
      </button>
    </form>
    <div class="collapse navbar-collapse" id="WinnMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="webglMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-image"></i> Web Graphic
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="webglMenu">
            <a class="dropdown-item" href="{% url 'utils:robot_friends' %}"><i class="fas fa-robot"></i> Robot Friends</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'webgl:burns-chart' %}"><i class="fa fa-fire" aria-hidden="true"></i> Burns Chart</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'webgl:animation' %}"><i class="fa fa-spinner fa-spin"></i> Animation</a>
            <a class="dropdown-item" href="{% url 'webgl:triangle-colour' %}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Triangle</a>
            <a class="dropdown-item" href="{% url 'webgl:texture' %}"><i class="fa fa-columns" aria-hidden="true"></i> Texture</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="utilMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-toolbox"></i> Tools
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="utilMenu">
            <a class="dropdown-item" href="{% url 'utils:solution_calculator' %}"><i class="fa fa-calculator" style="font-size:16px;color:red"></i> Solution Calculator</a>
            <a class="dropdown-item" href="{% url 'utils:highcharts_clock' %}"><i class="far fa-clock"></i> Highcharts Clock</a>
            <a class="dropdown-item" href="{% url 'books:books_list' %}"><i class="fas fa-book"></i> Books(ajax+json)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'utils:oxford' %}"><i class="fa fa-search-plus" aria-hidden="true"></i> Oxford Dictionary</a>
            <a class="dropdown-item" href="{% url 'budget:budget_home' %}" target="_blank"><i class="fa fa-balance-scale" aria-hidden="true"></i> Budgety</a>
            <a class="dropdown-item" href="{% url 'utils:calendar' %}"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'polls:email' %}"><i class="fa fa-envelope"></i> Email</a>
            <a class="dropdown-item" href="{% url 'polls:upload_file' %}"><i class="fa fa-upload" aria-hidden="true"></i> Upload file</a>
            <a class="dropdown-item" href="{% url 'polls:view_file_tree' %}"><i class="fa fa-list" aria-hidden="true"></i> View files</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'polls:barcode_gen_js' %}"><i class="fa fa-barcode" aria-hidden="true"></i> Generate barcode(js)</a>
            <a class="dropdown-item" href="{% url 'polls:barcode_req' %}"><i class="fa fa-barcode" aria-hidden="true"></i> Generate barcode</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'payments:demo' %}"><i class="fab fa-cc-stripe"></i> Stripe Payment</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-info-circle" aria-hidden="true"></i> About Us
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="aboutMenu">
            <a class="dropdown-item" href="{% url 'polls:about' %}" ><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a>
            <a class="dropdown-item" href="{% url 'polls:contact' %}" ><i class="fa fa-envelope" aria-hidden="true"></i> Contact us</a>                  
          </div>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="mainMenu">
      {% include "includes/partial_main_menu.html" %}
    </div>
  </nav>
