{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="appsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i> Apps
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="appsMenu">
          <a class="dropdown-item" href="{% url 'boards:boards_home' %}">Boards</a>
          <a class="dropdown-item" href="{% url 'posts:all_posts' %}">Insta Posts</a>
          <a class="dropdown-item" href="{% url 'itrac:get_issues' %}">Issue Tracker</a>
          <a class="dropdown-item" href="{% url 'catalog:index' %}">Mini Library</a>
          <a class="dropdown-item" href="{% url 'polls:question' %}">Polls</a>
        </div>
      </li>
    </ul>  
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/winter-logo-sm-blue.png' %}" class="d-inline-block align-top winter-sm-logo" alt="">
      Winter Winn
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" 
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0" action="{% url 'core:search' %}" method='GET'>
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="WinnMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="webglMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            WebGL
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="webglMenu">
            <a class="dropdown-item" href="{% url 'webgl:burns-chart' %}">Burns Chart</a>
            <a class="dropdown-item" href="{% url 'webgl:animation' %}">Animation</a>
            <a class="dropdown-item" href="{% url 'webgl:triangle-colour' %}">Triangle</a>
            <a class="dropdown-item" href="{% url 'webgl:texture' %}">Texture</a>
            <a class="dropdown-item" href="{% url 'utils:robot_friends' %}">Robot Friends</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="utilMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tools
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="utilMenu">
            <a class="dropdown-item" href="{% url 'utils:calendar' %}">Calendar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'polls:email' %}">Email</a>
            <a class="dropdown-item" href="{% url 'polls:upload_file' %}">Upload file</a>
            <a class="dropdown-item" href="{% url 'polls:view_file_tree' %}">View files</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'polls:barcode_gen_js' %}">Generate barcode(js)</a>
            <a class="dropdown-item" href="{% url 'polls:barcode_req' %}">Generate barcode</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Us
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="aboutMenu">
            <a class="dropdown-item" href="{% url 'polls:about' %}" >About Us</a>
            <a class="dropdown-item" href="{% url 'polls:contact' %}" >Contact us</a>                  
          </div>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="mainMenu">
      {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class='h5'><i class="fa fa-user" aria-hidden="true"></i> {{ user.username }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
              <a class="dropdown-item" href="{% url 'accounts:my_account' %}">My account</a>
              <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>
              <div class="dropdown-divider"></div>
              {% if user.is_staff %}
              <a class="dropdown-item" href="/admin/">Manage site</a>
              <div class="dropdown-divider"></div>
              {% endif %}
              <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>
            </div>
          </li>
        </ul>
      {% else %}
        <form class="form-inline ml-auto">
          <a href="{% url 'accounts:login' %}" class="btn btn-primary ml-2 text-white">Log in</a>
          <a href="{% url 'accounts:signup' %}" class="btn btn-primary ml-2 text-white">Sign up</a>
        </form>
      {% endif %}    
    </div>
  </div>
</nav>
