{% load static %}
<footer class="pt-4 border-top">
  <div class="row">
    <div class="col-12 col-md" title="Hooray!  let's play">
      <img class="mb-2 winter-logo" src="{% static 'img/winter-logo-sm-white.png' %}">
      <small class="d-block mb-3 text-muted">© Winter Winn 2019-2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>What's new</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'kbase:winn-jumps' %}" target="_blank">Winter jumps</a></li>
        <li><a class="text-muted" href="#">Winter barks</a></li>
        <li><a class="text-muted" href="#">Winter whines</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Education</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Articles</a></li>
        <li><a class="text-muted" href="#">Blogs</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Company</h5>
      <ul class="list-unstyled text-small text-muted">
        <li><a class="text-muted" href="#">Careers</a></li>
        <li>
          <a class="text-muted" href="{% url 'kbase:winn-aboutus' %}" target="_blank">
            <i class="fa fa-info-circle" aria-hidden="true"></i>About us
          </a>
        </li>
        <li class="py-1"><a href="mailto:winnpysoft@gmail.com" class="text-secondary"><span class="far fa-envelope"></span> Email Us</a></li>
        <li><a href="{% url 'polls:contact' %}" class="text-secondary">Contact us</a></li>
      </ul>
    </div>
  </div>
</footer>
