{% extends 'base_no_crumb.html' %}
{% block content %}
{% load static %}
  <h1 class="page-header">Books</h1>
  <p>CRUD using Ajax JSON</p>
  <!-- BUTTON TO TRIGGER THE ACTION -->
  <p>
    <button type="button"
            class="btn btn-primary js-create-book"
            data-url="{% url 'books:book_create' %}">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      New book
    </button>
  </p>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Type</th>
        <th>Publication date</th>
        <th>Pages</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% include 'books/includes/partial_book_list.html' %}
    </tbody>
  </table>
  <!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
{% load static %}
  <script src="{% static 'books/js/books.js' %}"></script>
{% endblock %}
