{% extends 'shop/base_shop.html' %}
{% block title %}{{ page_title }} {% endblock %}
{% load index %}
{% block content %}
  <h3>{{ page_title }}</h3>
  <div class="dropdown d-flex align-items-center mt-3">
    <span class="h5 mr-1" id="filter-name">{{ filter_name|title }}</span> 
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      (switch filter) <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <button class="dropdown-item js-order-filter" type="button" filter="my-last-order">My Last Order</button>
      <button class="dropdown-item js-order-filter" type="button" filter="my-last-3-orders">My Last 3 Orders</button>
      <button class="dropdown-item js-order-filter" type="button" filter="all-my-orders">All My Orders</button>
    </div>
  </div>
  <div class="order-page" id="order-page">
    {% include "includes/partial_view_orders.html" %}
  </div>
{% endblock %}
{% block js_shop %}
<script>
  $(function() {
    $('.js-order-filter').click(function(event){
        const filter = $(this).attr('filter');
        const url = 'filter/?filter=' + filter;
        
        fetch(url)
        .then(response => response.json())
        .then(data => {
          $("#order-page").html(data['html_view_orders']);
          $('#filter-name').html(data['filter_name']);
        });
    });

    $('.order-page').click(function(event){
        const orderid = $(event.target).attr('orderid');
        if (orderid !== undefined) {
          const url = 'orderid/' + orderid;
          fetch(url)
          .then(response => response.json())
          .then(data => {
            $("#order-page").html(data['html_view_orders']);
            $('#filter-name').html(data['filter_name']);
          });
        }
    });

    //set up the event istener
    $(".js-collapse-toggle").click(function() {
        $(this).find('i').toggleClass('fa-minus-circle fa-plus-circle');
    });   
    // default to expand
    $(".js-collapse-orders").collapse();

  });
</script>

{% endblock js_shop %}

