{% extends 'shop/base_shop.html' %}
{% block title %}{{ page_title }} {% endblock %}
{% load index %}
{% block content %}
<h3>{{ page_title }}</h3>

<p class="mt-3">Your latest order: {{ orders|index:0 }}</p>

<div class='order-page'>
  {% for order in orders %}
  <h5 class="mt-5">{{ order }}</h5>
  <div class='order-header'>
    <div class='header-block'><span>Product</span></div>
    <div class='header-block'><span>Description</span></div>
    <div class='header-block'><span>Price</span></div>
    <div class='header-block'><span>Quantity</span></div>
    <div class='header-block'><span>Subtotal</span></div>
    <div class='header-block'><span>Remark</span></div>
  </div>
  <div class='order-items'>
    {% for item in order.order_items.all %}
      <div class='order-item'>
        <div class='image-container_sm'><img src="{{ item.product.product_img_url }}" alt='item1' /></div>
        <div class='name'>{{ item.product.display }}</div>
        <div class='price'>${{ item.product.price }}</div>
        <div class='quantity'>
          <span class='value'>{{ item.quantity }}</span>
        </div>
        <div class='subtotal'>${{ item.price|floatformat:2  }}</div>
      </div>
    {% empty %}
      <div>**no orders.**</div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
