{% extends 'shop/base_shop.html'%}
{% load static %}

{% block content %}
<h3>{{ page_title }}</h3>

<div class='checkout-page'>
  <div class='checkout-header'>
    <div class='header-block'><span>Product</span></div>
    <div class='header-block'><span>Description</span></div>
    <div class='header-block'><span>Quantity</span></div>
    <div class='header-block'><span>Price</span></div>
    <div class='header-block'><span>Remove</span></div>
  </div>
  <div class='checkout-items'>
    {% for item in items %}
      <div class='checkout-item'>
        <div class='image-container'><img src="{{ item.product.product_img_url }}" alt='item1' /></div>
        <div class='name'>{{ item.product.display }}</div>
        <div class='quantity'>
          <div class='arrow js_count_decrease' action-url="{% url 'shop:cart_remove_item' item.product_id %}">&#10094;</div>
          <span class='value'>{{ item.quantity }}</span>
          <span class='arrow js_count_increase' action-url="{% url 'shop:cart_add_item' item.product_id %}">&#10095;</span>
        </div>
        <div class='price'>${{ item.price }}</div>
        <div class='remove-button js_item_delete'>&#10005; </div>
      </div>
    {% empty %}
      Not found.
    {% endfor %}
  </div>
  <div class='total'>TOTAL: ${{ cart_total }}</div>
  <div class='test-warning'>
    *Please use the following test credit card for payments* 
    <br />
    4242 4242 4242 4242 - Exp: 01/22 - CVV: 123
  </div>
  <button class="btn btn-primary">Pay Now </button>
</div>

{% endblock %}
{% block javascript %}
<script src="{% static 'js/winn_utils.js' %}"></script>
<script src="{% static 'shop/js/shop_utils.js' %}"></script>
<script>
  $(function(){
    get_cart_count();
  });  
  
  function op_count_action(btn) {
    const action_url = btn.attr('action-url');
    const csrftoken = getCookie('csrftoken');

    $.ajax({
      type: "POST",
      url: action_url,
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      success: function (data) {
        if (data.status === "S") {
          $('#cart-icon').html(data.cart_count);

          $('#cart-icon').html(data.cart_count);
        }
      }
    });
  };

  $('.js_count_increase').click(function(event){
    const btn = $(this);
    op_count_action(btn);
  });
  $('.js_count_decrease').click(function(event){
    const btn = $(this);
    op_count_action(btn);
  });


</script>
{% endblock %}


