{% extends 'shop/base_shop.html'%}
{% block content %}
<h3>{{ page_title }}</h3>
<div class="d-flex flex-wrap">
  {% for product in products %}
    <div class="collection-item">
      <img class="image" src="{{ product.product_img_url }}" />
      <div class="collection-footer">
        <span class="name">{{ product.display }}</span>
        <span class="price">${{ product.price }}</span>
      </div>
      <button class="custom-button">ADD TO CART</button>
    </div>    
  {% empty %}
    Not found.
  {% endfor %}
</div>
{% endblock %}

