{% extends 'shop/base_shop.html'%}
{% load static %}

{% block content %}
<h3>{{ page_title }}</h3>
{% if items %}
  <a class="btn btn-outline-primary" href="{% url 'shop:cart_remove_all_items' %}" role="button">Remove All Items</a>
{% endif %}

<div class='checkout-page'>
  <div class='checkout-header'>
    <div class='header-block'><span>Product</span></div>
    <div class='header-block'><span>Description</span></div>
    <div class='header-block'><span>Price</span></div>
    <div class='header-block'><span>Quantity</span></div>
    <div class='header-block'><span>Subtotal</span></div>
    <div class='header-block'><span>Remove</span></div>
  </div>
  <div class='checkout-items'>
    {% for item in items %}
      <div class='checkout-item'>
        <div class='image-container'><img src="{{ item.product.product_img_url }}" alt='item1' /></div>
        <div class='name'>{{ item.product.display }}</div>
        <div class='price'>${{ item.product.price }}</div>
        <div class='quantity'>
          <span class='arrow js_count_decrease' action-url="{% url 'shop:cart_deduct_item' item.product_id %}">&#10094;</span>
          <span class='value'>{{ item.quantity }}</span>
          <span class='arrow js_count_increase' action-url="{% url 'shop:cart_add_item' item.product_id %}">&#10095;</span>
        </div>
        <div class='subtotal'>${{ item.price|floatformat:2  }}</div>
        <div class='remove-button js_item_remove' action-url="{% url 'shop:cart_remove_item' item.product_id %}">&#10005; </div>
      </div>
    {% empty %}
      <div>**Your shopping cart is empty.**</div>
    {% endfor %}
  </div>
  <div class='total'>TOTAL: $<span id="cart_total">{{ cart_total|floatformat:2 }}</span></div>
  {% if items %}
    <div class='test-warning'>
      *Please use the following test credit card for payments* <br />
      4242 4242 4242 4242 - Exp: 01/22 - CVV: 123
    </div>
    <button class="btn btn-primary mb-5" id="btn-pay-now"><i class="fa fa-credit-card" aria-hidden="true"></i> Pay Now</button>
  {% endif %}
</div>

{% endblock %}
{% block js_shop %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'shop/js/stripe_pay.js' %}"></script>
<script>
$(function() {
  function op_count_action(btn) {
    const action_url = btn.attr('action-url');
    const csrftoken = getCookie('csrftoken');

    const item_quantity_value = btn.closest('.quantity').find('.value')
    const checkout_item = btn.closest('.checkout-item')
    const item_subtotal = checkout_item.find('.subtotal')

    $.ajax({
      type: "POST",
      url: action_url,
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      success: function (data) {
        if (data.status === "S") {
          $('#cart-icon').text(data.cart_count);
          $('#cart_total').text(data.cart_total);
          if (data.item_count === 0) {
            checkout_item.remove();
          } else {
            item_quantity_value.text(data.item_count);
            item_subtotal.text(`$${ data.item_price }`);
          }
        }
      }
    });
  };

  $('.js_count_increase').click(function(event){
    const btn = $(this);     
    //const val = $(event.target).closest('.quantity').find('.value');
    //const val = btn.closest('.quantity').find('.value');
    //alert(val.text());
    op_count_action(btn);
  });
  $('.js_count_decrease').click(function(event){
    const btn = $(this);
    op_count_action(btn);
  });
  $('.js_item_remove').click(function(event){
    const btn = $(this);
    op_count_action(btn);
  });

})  
</script>
{% endblock %}


