
.navbar {
  background-color: lightslategray;
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/*  color: white; */
  padding: 8px 5px 8px 5px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-family: 'Peralta', cursive;
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  margin-left: 30px;
}

html,
body {
  height: 100%;
}

li a {
  font-size: medium;
  color: black;
}

ul li a {
  text-decoration: none;
  margin: 10px, 10px;
}

.body-content {
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}


blockquote {
  border-left: 5px solid #00000020;
  padding-left: 1.25rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push {
  height: 60px;
}

footer {
  height: 60px;
  padding: 15px 0;
  background-color: #e9ecef;
  position: relative;
}