{% extends "webgl/base_webgl.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'webgl/css/burns.css' %}">
    <style type="text/css">
      canvas { border: 1px solid black; }
    </style>
{% endblock %}

{% block content %}
  <div>
    <div class="mt-3">
      <canvas id="canvas" width="500" height="600"></canvas>
      <canvas id="zoom" width="200" height="200"></canvas>
    </div>
    <input type="checkbox" id='smoothbtn'> Enable image smooting</input>
    <div hidden>
      Please pick a colour:
      <input type="radio" id="red" name="colour" value="red"><label for="red" class="ml-1">Red</label>
      <input type="radio" id="yellow" name="colour" value="yellow"><label for="yellow" class="ml-1">Yellow</label>
      <input type="radio" id="green" name="colour" value="green"><label for="green" class="ml-1">Green</label>
      <input type="radio" id="black" name="colour" value="black" checked><label for="black" class="ml-1">Black</label>
    </div>
    <div class="mt-3">
      <button onclick="draw(img);" class="btn btn-sm btn-outline-primary">Reset Chart</button>
      <button id="clipboard" class="btn btn-sm btn-outline-primary ml-3">Copy to Clipboard</button>
      <a id="btn-save-image" class="btn btn-sm btn-outline-primary ml-3">Save Image</a>
    </div>
    <div class="mt-3">
      <label for="annotation-text">Annotation text:</label> <br>
      <input type="text" id="annotation-text" name="annotation-text">
      <button id="btn-annotate1" class="btn btn-sm btn-outline-primary">Insert Text</button>
    </div>
    <div>
      <div style="position:absolute;bottom:2%;left:53%;">Choose Color</div>
      <div style="position:absolute;top:35%;left:55%;width:10px;height:10px;background:green;" id="green" onclick="colour(this)"></div>
      <div style="position:absolute;top:35%;left:56%;width:10px;height:10px;background:blue;" id="blue" onclick="colour(this)"></div>
      <div style="position:absolute;top:35%;left:57%;width:10px;height:10px;background:red;" id="red" onclick="colour(this)"></div>
      <div style="position:absolute;top:37%;left:55%;width:10px;height:10px;background:yellow;" id="yellow" onclick="colour(this)"></div>
      <div style="position:absolute;top:37%;left:56%;width:10px;height:10px;background:orange;" id="orange" onclick="colour(this)"></div>
      <div style="position:absolute;top:37%;left:57%;width:10px;height:10px;background:black;" id="black" onclick="colour(this)"></div>
      <div style="position:absolute;top:40%;left:53%;">Eraser</div>
      <div style="position:absolute;top:43%;left:55%;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="colour(this)"></div>
    </div>
  </div>
  <hr>
  <p>Burn chart diagram is downloaded from <a href="" target="_blank">Learning about Electronics</a>

{% endblock %}
{% block javascript %}

<script>
  var img = new Image();
  img.src = "{% static 'webgl/img/burn-rule-of-nines.png' %}"
  img.onload = function() {
    draw(this);
  };

  function draw(img) {

    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');

    ctx.drawImage(img, 0, 0);
    img.style.display = 'none';
    var zoomctx = document.getElementById('zoom').getContext('2d');

    var imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
    var data = imageData.data;

    var smoothbtn = document.getElementById('smoothbtn');
    var toggleSmoothing = function(event) {
      zoomctx.imageSmoothingEnabled = this.checked;
      zoomctx.mozImageSmoothingEnabled = this.checked;
      zoomctx.webkitImageSmoothingEnabled = this.checked;
      zoomctx.msImageSmoothingEnabled = this.checked;
    };
    smoothbtn.addEventListener('change', toggleSmoothing);

    var zoom = function(event) {
      var x = event.layerX;
      var y = event.layerY;
      zoomctx.drawImage(canvas,
                        Math.min(Math.max(0, x - 25), img.width - 50),
                        Math.min(Math.max(0, y - 25), img.height - 50),
                        50, 50,
                        0, 0,
                        200, 200);

      // Mark where the mouse pointer is
      zoomctx.strokeStyle = "red";
      zoomctx.rect(95, 95, 10, 10);
      zoomctx.stroke();
    };
    canvas.addEventListener('mousemove', zoom);

    // If the mouse is moving away from the canvas, clear up the zoom canvas
    canvas.addEventListener('mouseleave', (e) => {
      zoomctx.clearRect(0, 0, 200, 200);
    });

    // colour to draw
    var curr_color = 'black';   // default

    document.getElementById('red').onclick = (e) => {
      curr_color = 'red';
    }
    document.getElementById('yellow').onclick = (e) => {
      curr_color = 'yellow';
    }
    document.getElementById('green').onclick = (e) => {
      curr_color = 'green';
    }
    document.getElementById('black').onclick = (e) => {
      curr_color = 'black';
    }

  }

  var can_w, ctx_w, flag = false,
      prevX = 0,
      currX = 0,
      prevY = 0,
      currY = 0,
      dot_flag = false;

  var x = "black",
      y = 2;

  function init() {
      can_w = document.getElementById('canvas');
      ctx_w = can_w.getContext("2d");
      w = can_w.width;
      h = can_w.height;

      can_w.addEventListener("mousemove", function (e) {
          findxy('move', e)
      }, false);
      can_w.addEventListener("mousedown", function (e) {
          findxy('down', e)
      }, false);
      can_w.addEventListener("mouseup", function (e) {
          findxy('up', e)
      }, false);
      can_w.addEventListener("mouseout", function (e) {
          findxy('out', e)
      }, false);
  }

  function colour(obj) {
      switch (obj.id) {
          case "green":
              x = "green";
              break;
          case "blue":
              x = "blue";
              break;
          case "red":
              x = "red";
              break;
          case "yellow":
              x = "yellow";
              break;
          case "orange":
              x = "orange";
              break;
          case "black":
              x = "black";
              break;
          case "white":
              x = "white";
              break;
      }
      if (x == "white") y = 14;
      else y = 2;

  }

  function draw_line() {
      ctx_w.beginPath();
      ctx_w.moveTo(prevX, prevY);
      ctx_w.lineTo(currX, currY);
      ctx_w.strokeStyle = x;
      ctx_w.lineWidth = y;
      ctx_w.stroke();
      ctx_w.closePath();
  }

  function findxy(res, e) {
      if (res == 'down' && e.button == 0) {
          prevX = currX;
          prevY = currY;
          //currX = e.layerX - can_w.offsetLeft;
          //currY = e.layerY - can_w.offsetTop;
          currX = e.layerX;
          currY = e.layerY;

          flag = true;
          dot_flag = true;
          if (dot_flag) {
              ctx_w.beginPath();
              ctx_w.fillStyle = x;
              ctx_w.fillRect(currX, currY, 2, 2);
              ctx_w.closePath();
              dot_flag = false;
          }
      }
      if (res == 'up' || res == "out") {
          flag = false;
      }
      if (res == 'move') {
          if (flag) {
              prevX = currX;
              prevY = currY;
              //currX = e.layerX - can_w.offsetLeft;
              //currY = e.layerY - can_w.offsetTop;
              currX = e.layerX;
              currY = e.layerY;
              draw_line();
          }
      }
  }

  init();

  // Copy image from the canvas to clipboard
  var $clipboard = $('#clipboard');
  $clipboard.on('click',function(e){
      var canvas = document.getElementById('canvas');
      var img = document.createElement('img');
      //img.src = canvas.toDataURL('image/jpg', 1);
      img.src = canvas.toDataURL('image/png', 1);

      var div1 = document.createElement('div');
      div1.contentEditable = true;
      div1.appendChild(img);
      document.body.appendChild(div1);

      SelectText(div1);
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Copying text command was ' + msg);
      } catch (err) {
        console.log('Oops, unable to copy');
      }
      document.body.removeChild(div1);
  });

  function SelectText(element) {
      var doc = document;
      if (doc.body.createTextRange) {
          var range = document.body.createTextRange();
          range.moveToElementText(element);
          range.select();
      } else if (window.getSelection) {
          var selection = window.getSelection();
          var range = document.createRange();
          range.selectNodeContents(element);
          selection.removeAllRanges();
          selection.addRange(range);
      }
  }

  // Save (Download) image
  var btn_save_img = document.getElementById("btn-save-image");
  function save_image(event){
    var canvas = document.getElementById('canvas');
    var imgageData = canvas.toDataURL();

    // Now browser starts downloading it instead of just showing it
    // var newData = imgageData.replace("image/png", "image/octet-stream");
    //btn_save_img.setAttribute("href", newData);
    btn_save_img.setAttribute("href", imgageData);
    btn_save_img.setAttribute("download", "winn_download.png");
  };
  btn_save_img.addEventListener("click", save_image);

  // Insert annotation text onto the image.
  document.getElementById("btn-annotate1").addEventListener("click", insert_annotation);
  function insert_annotation(event) {
    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');

    ctx.clearRect((canvas.width - 400), (canvas.height - 30), 400, 30);

    //ctx.font = 'italic 18px Arial';
    ctx.font = '18px Arial';
    ctx.textAlign = 'left';
    ctx. textBaseline = 'middle';
    ctx.fillStyle = 'black';  // a color name or by using rgb/rgba/hex values =
    let text = "comment: " + document.getElementById("annotation-text").value;
    ctx.fillText(text, (canvas.width - 400), (canvas.height - 20));
  };


</script>

{% endblock %}
