<a class="nav-link" href="{% url 'shop:view_orders' %}">Orders, today's</a>
<a class="nav-link" href="{% url 'shop:view_orders' %}">Orders, last 2 days</a>   
<a class="nav-link" href="{% url 'shop:view_orders' %}">Orders, last 3 days</a>   
<a class="nav-link" href="{% url 'shop:view_orders' %}">Orders, last 7 days</a>   
<div class='border-top my-1'></div>
<a class="nav-link" href="{% url 'shop:view_orders' %}">Order by order id</a>   
<a class="nav-link" href="{% url 'shop:view_orders' %}">Orders by date range</a>   
