<nav class="nav flex-column bg-light">
    <a class="nav-link h3" href="#">Data Manager</a>
    <div class="border-top my-1"></div>
    {% if user.is_staff %}
    <div id="js-sdm-sidenav-1">
      {% include "shop/data_manager/partial_sdm_sidenav_orders.html" %}
    </div>
    {% endif %}
    <div class='border-top my-1'></div>
    <a class="nav-link" href="{% url 'shop:shop_home' %}">View Site</a>
    <div class='border-top my-1'></div>
    {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'accounts:logout' %}?next={{request.path}}">Logout</a>
    {% else %}
      <a class="nav-link" href="{% url 'accounts:login' %}?next={{request.path}}">Login</a>
    {% endif %}
</nav>
