<div class="ml-1 font-weight-bold">View Orders:</div>
<a class="nav-link" href="#" sn_1_url="{% url 'shop:sdm_manage_orders_filter' %}?timeframe=today">Today's</a>
<a class="nav-link" href="#" sn_1_url="{% url 'shop:sdm_manage_orders_filter' %}?timeframe=last2days">Last 2 days</a>
<a class="nav-link" href="#" sn_1_url="{% url 'shop:sdm_manage_orders_filter' %}?timeframe=last3days">Last 3 days</a>
<a class="nav-link" href="#" sn_1_url="{% url 'shop:sdm_manage_orders_filter' %}?timeframe=last7days">Last 7 days</a>
<div class='border-top my-1'></div>
<div class="ml-1 font-weight-bold">Modify Orders:</div>
<a class="nav-link" href="{% url 'admin:shop_order_changelist' %}">Modify Orders</a>
