<div class="ml-1 font-weight-bold">Manage Products:</div>
<a class="nav-link" href="{% url 'admin:shop_product_changelist' %}">Manage Products</a>   
<a class="nav-link" href="#">Future Use</a>   
<div class='border-top my-1'></div>
<div class="ml-1 font-weight-bold">View Products:</div>
<a class="nav-link" href="{% url 'admin:shop_product_changelist' %}">Product Overview</a>
<a class="nav-link" href="#">Future Use</a>   
<a class="nav-link" href="">Future Use</a>   
<a class="nav-link" href="#">Future Use</a>   
