<div class="ml-1 font-weight-bold">View Orders:</div>
<a class="nav-link" href="{% url 'shop:view_orders' %}">Today's</a>
<a class="nav-link" href="{% url 'shop:view_orders' %}">Last 2 days</a>   
<a class="nav-link" href="{% url 'shop:view_orders' %}">Last 3 days</a>   
<a class="nav-link" href="{% url 'shop:view_orders' %}">Last 7 days</a>   
<div class='border-top my-1'></div>
<div class="ml-1 font-weight-bold">Modify Orders:</div>
<a class="nav-link" href="{% url 'shop:view_orders' %}">Order by order id</a>   
<a class="nav-link" href="{% url 'shop:view_orders' %}">Orders by date range</a>   
