{% extends 'shop/base_shop.html'%}
{% block title %}Shop Data Manager{% endblock %}

{% block subnavbar %}
{% endblock %}

{% block sidebar %}
  {% include "shop/data_manager/partial_sdm_sidenav.html" %}
{% endblock %}

{% block content %}
  <div class="mt-3" id="js-sdm-top-nav">
    {% include "shop/data_manager/partial_sdm_topnav.html" %}
  </div>
  <div id="sdm-content-pane">
    {% include "shop/data_manager/partial_sdm_view_orders.html" %}
  </div>
{% endblock %}

{% block js_shop %}
<script>
$(function() {

  $('#js-sdm-top-nav').click(function(){
    $('#js-sdm-top-nav').find('.nav-link').removeClass('active');
    $(event.target).addClass('active');

    const tab_url = $(event.target).attr('tab-url');
    fetch(tab_url)
      .then(response => response.json())
      .then(data => {
        $("#js-sdm-sidenav-1").html(data['html_sdm_sidebar_nav_1']);
        $('#sdm-content-pane').html(data['html_sdm_content_pane']);
      });
  });

  $('#js-sdm-sidenav-1').click(function(){
    const sn_1_url = $(event.target).attr('sn_1_url');
    fetch(sn_1_url)
      .then(response => response.json())
      .then(data => {
        $('#sdm-content-pane').html(data['html_sdm_content_pane']);
      });
  });

})
</script>
{% endblock %}
