{% extends "catalog/base_catalog.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'catalog:index' %}">Local Library</a></li>
<li class="breadcrumb-item active">Author Details</li>
{% endblock %}
{% block libcontent %}
  <h5>{{ author.last_name }}, {{ author.first_name }}</h5>
  <p>{{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death}} {% endif %} </p>

  <div class='card w-75 borderless'>
    <div class="card-header">Books</div>
    <div class='card-body'>
      <ul class="list-group list-group-flush">
        {% for book in author.book_set.all %}
        <li class="list-group-item border-1">
          <a href="{% url 'catalog:book-detail' book.pk %}"><strong>{{ book.title }}</strong></a><br>
          {{ book.summary }}
        </li>
        {% empty %}
        <li class="list-group-item border-1">
          No book found
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
