{% extends 'base.html' %}
{% block title %}Local Library{% endblock %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'catalog/css/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}">
{% endblock %}
{% block content %}
  <!--
  <div class="container-fluid">
  -->
  <div>
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <nav id="sidebar" class='winn-sidebar'>
        <div class="sidebar-header"><h3>Menu</h3></div>
        <ul class="list-unstyled components">
          <li><a href="{% url 'catalog:index' %}">Home</a></li>
          <li><a href="{% url 'catalog:books' %}">All books</a></li>
          <li><a href="{% url 'catalog:authors' %}">All authors</a></li>
          <li><div class="border-top my-3"></div></li>
          {% if user.is_authenticated %}
            <li><span class='ml-1'>USER: {{ user.get_username }}</span></li>
            <li><a href="{% url 'catalog:my-borrowed' %}">My Borrowed</a></li>
            <li><a href="{% url 'accounts:logout' %}?next={{request.path}}">Logout</a></li>   
          {% else %}
            <li><a href="{% url 'accounts:login' %}?next={{request.path}}">Login</a></li>   
          {% endif %}         
          {% if user.is_staff %}
            <li><span class='ml-1'>STAFF:</span></li>
            <li><a href="{% url 'catalog:all-borrowed' %}">All Borrowed</a></li>
          {% endif %}
          <li><div class="border-top my-3"></div></li>
          <li><a href="{% url 'catalog:contact' %}">Contact us</a></li>
          <li><a href="{% url 'winter_univer' %}">About Winter</a></li>
        </ul>
      </nav>
      {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block libcontent %}{% endblock %}</div>
    </div>
  </div>
{% endblock %}


