{% extends "catalog/base_catalog.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'catalog:index' %}">Local Library</a></li>
<li class="breadcrumb-item active">Books</li>
{% endblock %}
{% block libcontent %}
  <h5>Book List</h5>
  <form class="mb-3" method='GET'>
    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="book name">
    <input class="button" type='submit' value="Search Book">
  </form>
  {% if book_list %}
  <table class="gen-list-view table table-striped table-sm table-hover mb-4">
    <thead>
      <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      {% for book in book_list %}
      <tr>
          <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
          <td>{{ book.author }}</td>
          <td>{{ book.display_genre }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No books found in the library.</p>
  {% endif %}
  {% include 'include/pagination.html' %}
{% endblock %}
