{% extends "catalog/base_catalog.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'catalog:index' %}">Local Library</a></li>
<li class="breadcrumb-item active">All Borrowed</li>
{% endblock %}
{% block libcontent %}
<div class='card borderless'>
  {% if bookinstance_list %}
  <div class='card-body'>
    <h3 class="card-title">Borrowed Books</h3>
    <form class="mb-3" method='GET'>
      <input type="text" name="q" value="{{ request.GET.q }}" placeholder="book name">
      <input class="button" type='submit' value="Search Book">
    </form>
    <table class="table table-striped mb-4">
      <tr>
        <th>Title</th>
        <th>Due Back</th>
        <th>Borrower</th>
        <th>Renew</th>
      </tr>
      {% for bookinst in bookinstance_list %}
      <tr>
        <td>
          <a href="{% url 'catalog:book-detail' bookinst.book.pk %}"><strong>{{bookinst.book.title}}</strong></a>
        </td>
        <td>
          <span class="{% if bookinst.is_overdue %}text-danger{% endif %}">{{ bookinst.due_back }}</span>
        </td>
        <td>
          <span class="{% if bookinst.is_overdue %}text-danger{% endif %}">{{ bookinst.borrower }}</span>
        </td>
        <td>
          {% if perms.catalog.can_mark_returned %}
          <a class="btn btn-secondary btn-sm" href="{% url 'catalog:renew-book-staff' bookinst.id %}">Renew</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>There are no books borrowed.</p>
  {% endif %}
  {% include 'include/pagination.html' %}
</div>
{% endblock %}
