{% extends "catalog/base_catalog.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'catalog:index' %}">Local Library</a></li>
<li class="breadcrumb-item active">Renew</li>
{% endblock %}
{% block libcontent %}
  <h1>{{ book_instance.book.title }}</h1>
  {% if user.is_staff %}
    <p>Borrower: {{ book_instance.borrower }}</p>
  {% endif %}
  <p {% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
