{% extends "catalog/base_catalog.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item  active">Local Library Home</li>
{% endblock %}
{% block libcontent %}
    <h3 class="card-title">Local Library</h3>
    <p>Welcome to LocalLibrary, a website developed by <em>Winter Winn</em>!</p>
    <h5>About your library</h5>
    <p>The library has the following record counts:</p>
    <div class='w-75'>
      <table class="table table-striped mb-4">
        <tr>
          <td><strong>Books:</strong></td><td>{{ num_books }}</td>
        </tr>
        <tr>
          <td><strong>Copies:</strong></td><td>{{ num_instances }}</td>
        </tr>
        <tr>
          <td><strong>Copies available:</strong></td><td>{{ num_instances_available }}</td>
        </tr>
        <tr>
          <td><strong>Authors:</strong></td><td>{{ num_authors }}</td>
        </tr>
        <tr>
          <td><strong>Genres:</strong></td><td>{{ num_genres }}</td>
        </tr>
        <tr>
          <td><strong>"Winter" books:</strong></td><td>{{ num_winter_books }}</td>
        </tr>
      <table>
    </div>
    <p>You ({{ user }}) have visited this page 
      <span class="text-success">{{ num_visits }}</span>
      {% if num_visits == 1 %} time{% else %} times{% endif %}.
    </p>
{% endblock %}
