{% extends 'utils/base_utils.html' %}
{% block title %}Robot{% endblock %}
{% load static %}
{% block stylesheet %}
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'utils/css/robot.css' %}">
{% endblock %}
{% block content %}
<h1 class="mt-5 text-center">Robot Friends</h1>
<p>Hello, {{ user.username|default:'Guest' }}: Welcome to play with my robot friends.</p>
<div class="robot-container">
	<div class="robots mt-5">
		<div class="android">
			<div class="head" id='head1'>
				<div class="eyes">
					<div class="left_eye"></div>
					<div class="right_eye"></div>
				</div>
				<div class="dropdown-menu dropdown-menu-sm" id="context-menu1">
					<a class="dropdown-item" name="red" href="#">Red</a>
					<a class="dropdown-item" name="green" href="#">green</a>
					<a class="dropdown-item" name="orange" href="#">Orange</a>
				</div>
			</div>
			<div class="upper_body">
				<div class="left_arm"></div>
				<div class="torso" id="torso1" name='torso1'></div>
				<div class="right_arm"></div>
			</div>
			<div class="lower_body">
				<div class="left_leg"></div>
				<div class="right_leg"></div>
			</div>
		</div>
  </div>
	<div class="robots mt-5">
		<div class="android">
			<div class="head">
				<div class="eyes2">
					<div class="left_eye2"></div>
					<div class="right_eye2"></div>
				</div>
			</div>
			<div class="upper_body">
				<div class="left_arm"></div>
				<div class="torso" id="torso2" name='torso2'></div>
				<div class="right_arm"></div>
			</div>
			<div class="lower_body">
				<div class="left_leg"></div>
				<div class="right_leg"></div>
			</div>
		</div>
  </div>
</div>
<div class="row">
  <div class="glowing-dots">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

{% endblock %}
{% block javascript %}
<script>
  $(function() {
    $(".torso").mouseover(function(){
      if ($(this).attr("name") === "torso1") {
        $(this).css("background-color", "yellow");
      }
      else if (($(this).attr("name") === "torso2")) {
        $(this).css("background-color", "orange");
      }
    });
    $(".torso").mouseleave(function(){
      if ($(this).attr("name") === "torso1") {
        $(this).css("background-color", "green");
      }
      else if (($(this).attr("name") === "torso2")) {
        $(this).css("background-color", "purple");
      }
    });
  });

  $('#head1').on('contextmenu', function(e) {
    var top = e.pageY - 10;
    var left = e.pageX - 90;
    $("#context-menu1").css({
      display: "block",
      top: top,
      left: left
    }).addClass("show");
    return false; //blocks default Webbrowser right click menu
  }).on("click mouseleave", function() {
    $("#context-menu1").removeClass("show").hide();
  });

  $("#context-menu1 a").on("click", function() {
    $(this).parent().removeClass("show").hide();
    const color_picked = $(this).attr("name")
    $("#head1").css("background-color", color_picked)
  });

</script>
{% endblock %}
