{% extends 'base_no_crumb.html' %}
{% load static %}
{% block title %}Solution Dilution Calculator{% endblock %}
{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
<link rel="stylesheet" href="{% static 'utils/css/solu-calculator.css' %}">
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 col-sm-12">
    <div class="row mt-5">
      <div class="col-6">
        <h1 class="logo text-primary">
          <strong>Solution Dilution Calcultor</strong>
          <i class="fa fa-calculator" style="font-size:36px;"></i>
        </h1>
      </div>
      <div class="col-6 text-right mt-2">
        made by <a href="{% url 'winter_univer' %}" target="_blank">winter</a> for Lady JJ.
      </div>
    </div>
    <div class="card border-primary shadow-lg">
      <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item"><a id="fixed-stock-a" class="nav-link active" href="#">Scenario #1</a></li>
        <li class="nav-item"><a id="fixed-diluted-a" class="nav-link" href="#">Scenario #2</a></li>
      </ul>
      </div>
      <div class="card-body ml-3">
        <!-- <h5 class="card-title">Winter's Barcode Generator</h5> -->
        <!-- Scenario #1 -->
        <div id="div-fixed-stock">
          <p class="card-text">To dilute a fixed amount of stock solution to a certain concentration.</p>
          <h5 class="mt-3">(1) You have the following stock solution:</h5>
          <div class="ml-3">
            <table>
              <tr>
                <td>Concentration:</td>
                <td><input type="text" class="number-field" id="sol1-concentration" /> %</td>
              </tr>
              <tr>
                <td>Solution volume:</td>
                <td><input type="text" class="number-field"  id="sol1-volume" /> mL</td>
              </tr>
            </table>
          </div>
          <h5 class="mt-3">(2) Diluted solution:</h5>
          <div class="ml-3">
            Target concentration: <input type="text" class="number-field" id="sol2-concentration" /> %
          </div>
          <h5 class="mt-3">(3) Click to calculate:</h5>
          <div class="ml-3">
            <button class="button" id="calc-volume">Calculate <i class="fa fa-calculator"></i></button>
            <div id="msg_warning" style="display:none;color:red;"></div>
          </div>
          <h5 class="mt-3">(4) You will need to add the following amount of water:</h5>
          <div class="ml-3">
            <p>The amount of water needed to add to stock solution: <input type="number" id="volume_to_add" class="volume-field" disabled /> mL</p>
            <p>The total volume of diluted solution will be: <input type="number" id="sol2-total-volume" class="volume-field" disabled /> mL</p>
          </div>
        </div>
        <!-- Scenario #2 -->
        <div id="div-fixed-diluted">
          <p class="card-text">To make a certain amount of a diluted solution from a stock solution.</p>
          <h5>(1) You have the following stock solution:</h5>
          <div class="ml-3">
            Concentration: <input type="text" class="number-field" id="sol1-concentration2" /> %
          </div>
          <h5 class="mt-3">(2) You want to make the following diluted solution:</h5>
          <div class="ml-3">
            <table>
              <tr>
                <td>Concentration:</td>
                <td><input type="text" class="number-field" id="sol2-concentration2" /> %</td>
              </tr>
              <tr>
                <td>Solution Volume:</td>
                <td><input type="text" class="number-field"  id="sol2-volume2" /> mL</td>
              </tr>
            </table>
          </div>
          <h5 class="mt-3">(3) Click to calculate:</h5>
          <div class="ml-3">
            <button class="button" id="calc-volume2">Calculate <i class="fa fa-calculator"></i></button>
            <div id="msg_warning2" style="display:none;color:red;"></div>
          </div>
          <h5 class="mt-3">(4) Follow the steps below to make the desired diluted solution:</h5>
          <div class="ml-3">
            <p>You will need <input type="number" id="sol1-volume2" class="volume-field" disabled /> mL of stock solution</p>
            <p>you will need to add <input type="number" id="volume_to_add2" class="volume-field" disabled /> mL of water to your stock solution.</p>
            <p>The total volume of the diluted solution will be: <input type="number" id="sol2-total-volume2" class="volume-field" disabled /> mL</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){

  function calc_vloume() {
		var sol1_p = parseFloat(document.getElementById("sol1-concentration").value);
		var sol1_v = parseFloat(document.getElementById("sol1-volume").value);
		var sol2_p = parseFloat(document.getElementById("sol2-concentration").value);
		console.log(sol1_p, sol1_v, sol2_p);

		if (!sol1_p || !sol1_v || !sol2_p) {
			var warning = document.getElementById("msg_warning")
			warning.style.display = "block";
			warning.innerHTML = "**Check the input fields - they must be numbers and cannot be empty.**"

		} else {

			var vol_to_add = (sol1_v * sol1_p)/sol2_p - sol1_v;
			var sol2_v = Number(vol_to_add) + Number(sol1_v);

        console.log(vol_to_add, sol2_v);

			document.getElementById("volume_to_add").value = vol_to_add.toFixed(2);
			document.getElementById("sol2-total-volume").value = sol2_v.toFixed(2);

			warning = document.getElementById("msg_warning");
      warning.innerHTML = '';
			warning.style.display = "none";

		}
  }
  $("#calc-volume").on("click", calc_vloume);

  function calc_vloume2() {
		var sol1_p = parseFloat(document.getElementById("sol1-concentration2").value);
		var sol2_p = parseFloat(document.getElementById("sol2-concentration2").value);
		var sol2_v = parseFloat(document.getElementById("sol2-volume2").value);
		console.log(sol1_p, sol2_p, sol2_v);

		if (!sol1_p || !sol2_p || !sol2_v) {
			var warning = document.getElementById("msg_warning2")
			warning.style.display = "block";
			warning.innerHTML = "**Check the input fields - they must be numbers and cannot be empty.**"

		} else {

			var sol1_v = (sol2_v * sol2_p)/sol1_p;
      var vol_to_add = Number(sol2_v) - Number(sol1_v);

			document.getElementById("sol1-volume2").value = sol1_v.toFixed(2);
			document.getElementById("volume_to_add2").value = vol_to_add.toFixed(2);
			document.getElementById("sol2-total-volume2").value = sol2_v.toFixed(2);

			warning = document.getElementById("msg_warning2")
      warning.innerHTML='';
			warning.style.display = "none";

		}
  }
  $("#calc-volume2").on("click", calc_vloume2);

  function showFixedStock(){
    $('#div-fixed-stock').show();
    $('#div-fixed-diluted').hide();
    $('#fixed-stock-a').addClass('active');
    $('#fixed-diluted-a').removeClass('active');
  }
  $("#fixed-stock-a").on("click", showFixedStock);

  function showFixedDiluted(){
    $('#div-fixed-stock').hide();
    $('#div-fixed-diluted').show();
    $('#fixed-stock-a').removeClass('active');
    $('#fixed-diluted-a').addClass('active');
  }
  $("#fixed-diluted-a").on("click", showFixedDiluted);

  showFixedStock();

});

</script>
{% endblock %}
